<div id="content">
    <p-growl [value]="msgs"></p-growl>
    <div class="row">
        <!--div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-group"></i>
                <a (click)="onRegresarBusquedaCodigos()" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> </a> Codigo
            </h1>
        </div-->
        <div class="page-header">
            <div class="btn-back" (click)="onRegresarBusquedaCodigos()"><i class="ic-arrow-back"></i></div>
            <sa-big-breadcrumbs [items]="['Codigos del Sistema']" icon="group"></sa-big-breadcrumbs>
        </div>
                <!-- NEW WIDGET START -->
            <div class="col-lg-12">

                            <div class="well well-sm well-light">

                                <div class="padding-10">

                                    <div>
                                        <fieldset>
                                            <legend>Detalle</legend>

                                            <div class="smart-form">

                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label>Grupo</label>
                                                        <label class="input">
                                                            <kendo-dropdownlist id="grupoTablaGeneral" disabled="disabled"
                                                                                [data]="grupoTablaGeneral"
                                                                                [textField]="'grupo'"
                                                                                [valuePrimitive] = "true"
                                                                                [valueField]="'grupo'" style="width: 100%;"
                                                                                [(value)]="tablaGeneral.grupo"
                                                            >
                                                            </kendo-dropdownlist>
                                                        </label>
                                                    </section>
                                                </div>

                                                <div class="row">
                                                    <section class="col col-md-3">
                                                        <label>Codigo</label>
                                                        <label class="input state-disabled">
                                                            <input type="text" [(ngModel)]="tablaGeneral.codigo" disabled="disabled"/>
                                                        </label>

                                                    </section>
                                                    <section class="col col-md-12">
                                                        <label>Nombre<span style="color: red">*</span></label>
                                                        <label class="input">
                                                            <input style="width: 100%;" type="text" [(ngModel)]="tablaGeneral.nombre" />
                                                        </label>

                                                    </section>
                                                    <section class="col col-md-2">
                                                        <label>Estado<span style="color: red">*</span></label>
                                                        <div>
                                                            <label class="input">
                                                                <kendo-dropdownlist id="estados"
                                                                                    [data]="estados"
                                                                                    [textField]="'nombre'"
                                                                                    [valuePrimitive] = "true"
                                                                                    [defaultItem]="defaultItemEstados"
                                                                                    [valueField]="'codigo'" style="width: 100%;"
                                                                                    [(value)]="tablaGeneral.estado"
                                                                                    (selectionChange)="changeEstado($event)"
                                                                >

                                                                </kendo-dropdownlist>
                                                            </label>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </fieldset>

                                    </div>

                                </div>

                                <div class="padding-10">
                                    <div class="bottom-bar">
                                        <button (click)="onGuardarCodigoTablaGeneral()" class="btn btn-primary" *ngIf="isAuthorized('Editar')"> Guardar</button>
                                    </div>

                                </div>

                            </div>

            </div>
        </div>


</div>
