<div id="content">

    <simple-notifications [options]="options"></simple-notifications>

  <div class="row">

      <div class="page-header">
          <div class="btn-back" (click)="onRegresarBusquedaMarcacion()"><i class="ic-arrow-back"></i></div>
          <sa-big-breadcrumbs [items]="['Marcacion ']" icon="group"></sa-big-breadcrumbs>
      </div>


    <div class="col-lg-12">

                <div class="well well-sm well-light">

                    <div class="padding-10">

                        <div>
                            <fieldset>
                                <legend>Datos de Empleado</legend>

                                <div class="smart-form">
                                    <div class="row">
                                        <section class="col col-4">
                                            <label>Empleado</label>
                                            <label class="input state-disabled">
                                                <input type="text"  [(ngModel)]="marcacion.nombreCompletoEmpleado" disabled="disabled"/>
                                            </label>
                                        </section>

                                        <section class="col col-4">
                                            <label>Proyecto</label>
                                            <label class="input state-disabled">
                                                <input type="text" [(ngModel)]="marcacion.nombreProyecto" disabled="disabled"/>
                                            </label>
                                        </section>
                                    </div>

                                </div>
                            </fieldset>

                        </div>
                    </div>
                    <div class="padding-10">
                        <div>
                            <fieldset>
                                <legend>Marcacion Registrada</legend>

                                <div class="smart-form">

                                    <div class="row">
                                        <section class="col col-3">
                                            <label>Fecha</label>
                                            <label class="input state-disabled">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input type="text"   [(ngModel)]="marcacion.fecha" saUiDatepicker date-format="dd/MM/yy" disabled="disabled"/>
                                            </label>
                                        </section>

                                    </div>


                                    <div class="row">
                                        <section class="col col-3">
                                            <label>Hora Ingreso</label>
                                            <label class="input state-disabled">
                                                <input type="text"  [(ngModel)]="marcacion.horaIngreso" disabled="disabled"/>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label>Hora Inicio Almuerzo</label>
                                            <label class="input state-disabled">
                                                <input type="text"  [(ngModel)]="marcacion.horaInicioAlmuerzo" disabled="disabled"/>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label>Hora Fin Almuerzo</label>
                                            <label class="input state-disabled">
                                                <input type="text"  [(ngModel)]="marcacion.horaFinAlmuerzo" disabled="disabled"/>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label>Hora Salida</label>
                                            <label class="input state-disabled">
                                                <input type="text"  [(ngModel)]="marcacion.horaSalida" disabled="disabled"/>
                                            </label>
                                        </section>

                                    </div>
                                </div>
                             </fieldset>
                        </div>
                    </div>
                    <div class="padding-10">
                        <div>
                            <fieldset>
                                <legend>Actualización de las Marcaciones</legend>
                                <div class="smart-form">

                                    <div class="row" *ngIf="tieneSolicitud">
                                        <section class="col col-md-12">
                                            <a (click)="(null)" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Ver Cambio Solicitado</a>
                                        </section>
                                    </div>

                                    <div class="row" *ngIf="!tieneSolicitud">
                                        <section class="col col-2">
                                            <label>Cambiar</label>
                                            <label class="select">
                                                <input type="checkbox" [(ngModel)]="solicitudCambioMarcacion.cambiarIngreso" (change)="cambiarHoraIngreso($event)"/>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label>Hora Ingreso</label>
                                            <label [class]="!isCheckedHoraIngreso?'input state-disabled':'input'">
                                                <p-inputMask mask="99:99" [(ngModel)]="solicitudCambioMarcacion.horaIngreso"
                                                             placeholder="00:00" [disabled]="!isCheckedHoraIngreso"></p-inputMask>
                                            </label>
                                        </section>
                                        <section class="col col-8">
                                            <label>Razon de Cambio</label>
                                            <label [class]="!isCheckedHoraIngreso?'input state-disabled':'input'">
                                                <input type="text" [(ngModel)]="solicitudCambioMarcacion.razonCambioHoraIngreso" [disabled]="!isCheckedHoraIngreso"/>
                                            </label>
                                        </section>

                                    <!--/div>

                                    <div class="row"-->
                                        <section class="col col-2">
                                            <label>Cambiar</label>
                                            <label class="select">
                                                <input type="checkbox" [(ngModel)]="solicitudCambioMarcacion.cambiarInicioAlmuerzo" (change)="cambiarHoraIniAlmuerzo($event)"/>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label>Hora Inicio Almuerzo</label>
                                            <label [class]="!isCheckedHoraIniAlmuerzo?'input state-disabled':'input'">
                                                <p-inputMask mask="99:99" [(ngModel)]="solicitudCambioMarcacion.horaInicioAlmuerzo"
                                                             placeholder="00:00" [disabled]="!isCheckedHoraIniAlmuerzo"></p-inputMask>
                                            </label>
                                        </section>
                                        <section class="col col-8">
                                            <label>Razon de Cambio</label>
                                            <label [class]="!isCheckedHoraIniAlmuerzo?'input state-disabled':'input'">
                                                <input type="text" [(ngModel)]="solicitudCambioMarcacion.razonCambioHoraInicioAlmuerzo"  [disabled]="!isCheckedHoraIniAlmuerzo"/>
                                            </label>
                                        </section>

                                    <!--/div>

                                    <div class="row"-->
                                        <section class="col col-2">
                                            <label>Cambiar</label>
                                            <label class="select">
                                                <input type="checkbox" [(ngModel)]="solicitudCambioMarcacion.cambiarFinAlmuerzo" (change)="cambiarHoraFinAlmuerzo($event)"/>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label>Hora Fin Almuerzo</label>
                                            <label [class]="!isCheckedHoraFinAlmuerzo?'input state-disabled':'input'">
                                                <p-inputMask mask="99:99" [(ngModel)]="solicitudCambioMarcacion.horaFinAlmuerzo"
                                                             placeholder="00:00" [disabled]="!isCheckedHoraFinAlmuerzo"></p-inputMask>
                                            </label>
                                        </section>
                                        <section class="col col-8">
                                            <label>Razon de Cambio</label>
                                            <label [class]="!isCheckedHoraFinAlmuerzo?'input state-disabled':'input'">
                                                <input type="text" [(ngModel)]="solicitudCambioMarcacion.razonCambioHoraFinAlmuerzo" [disabled]="!isCheckedHoraFinAlmuerzo"/>
                                            </label>
                                        </section>

                                    <!--/div>

                                    <div class="row"-->
                                        <section class="col col-2">
                                            <label>Cambiar</label>
                                            <label class="select">
                                                <input type="checkbox" [(ngModel)]="solicitudCambioMarcacion.cambiarSalida" (change)="cambiarHoraSalida($event)"/>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label>Hora Salida</label>
                                            <label [class]="!isCheckedHoraSalida?'input state-disabled':'input'">
                                                <p-inputMask mask="99:99" [(ngModel)]="solicitudCambioMarcacion.horaSalida"
                                                             placeholder="00:00" [disabled]="!isCheckedHoraSalida"></p-inputMask>
                                            </label>
                                        </section>
                                        <section class="col col-8">
                                            <label>Razon de Cambio</label>
                                            <label [class]="!isCheckedHoraSalida?'input state-disabled':'input'">
                                                <input type="text" [(ngModel)]="solicitudCambioMarcacion.razonCambioHoraSalida" [disabled]="!isCheckedHoraSalida"/>
                                            </label>
                                        </section>

                                    </div>

                                </div>
                            </fieldset>
                        </div>

                    </div>

                </div>

                <!-- Dialog-->
                <div id="dialog-message" title="Mensaje">
                    <!-- dialog header // removing on compile-->
                    <p>
                        {{mensaje}}
                    </p>

                </div>
    </div>
  </div>
</div>