<div id="content">
    <p-growl [value]="msgs"></p-growl>
    <div class="row">


        <div class="page-header">
            <div class="btn-back" (click)="onRegresarVerEmpleado()"><i class="ic-arrow-back"></i></div>
            <sa-big-breadcrumbs [items]="['Historial de Trabajo ']" icon="group"></sa-big-breadcrumbs>
        </div>


        <div class="col-lg-12">
            <div class="resume-panel">
                <div>
                    <div class="resume-info">
                        <div class="user-image">
                            <i class="ic-person" id="iconPerson"></i>
                            <img [src]="fotoEmpleado" style="display: none;" id="fotoEmpleado">
                        </div>
                        <div class="user-info">
                            <div>
                                <span>{{nombreCompletoEmpleado}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


            <div class="col-lg-12">

                <div class="well well-sm well-light">
                        <div class="padding-10">

                        <div>
                            <fieldset>
                                <div class="col-12 text-right padding-bottom-10">
                                    <button (click)="onNuevoCargo()" class="btn btn-primary">
                                        Asignar Nuevo Cargo
                                    </button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div [ngBusy]="{busy: busy, minDuration:1000}"></div>

                                <kendo-grid
                                        [data]="gridView"
                                        [pageSize]="pageSize"
                                        [skip]="skip"
                                        [pageable]="true"
                                        (pageChange)="pageChangeHistorialLaboral($event)"
                                    >
                                    <kendo-grid-column field="idEdit" title=" " width="30" *ngIf="isAuthorized('Editar')">
                                        <template kendoGridCellTemplate let-dataItem>
                                            <div class="text-center">
                                                <a href="javascript:void(0)" class="link" (click)="onEdit(dataItem)">
                                                    <span class="fa fa-pencil"></span></a>
                                            </div>
                                        </template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="idDelete" title=" " width="30" *ngIf="isAuthorized('Eliminar')">
                                        <template kendoGridCellTemplate let-dataItem>
                                            <div class="text-center" *ngIf="fncEstadoTiempoCargoDelete(dataItem)">
                                                <a href="javascript:void(0)" class="link" (click)="Confirm(dataItem)">
                                                    <span class="fa fa-trash"></span></a>
                                            </div>

                                        </template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="unidadNegocio" title="Unidad de Negocio" width="150"></kendo-grid-column>
                                    <kendo-grid-column field="departamentoArea" title="Departamento" width="180"></kendo-grid-column>
                                    <kendo-grid-column field="proyecto" title="Proyecto" width="140"></kendo-grid-column>
                                    <kendo-grid-column field="cargo" title="Cargo" width="140"></kendo-grid-column>
                                    <kendo-grid-column field="jefeInmediato" title="Jefe Inmediato" width="185"></kendo-grid-column>
                                    <kendo-grid-column field="fechaInicio" title="Fecha Inicio" width="100"></kendo-grid-column>
                                    <kendo-grid-column field="fechaFin" title="Fecha Fin" width="100"></kendo-grid-column>
                                </kendo-grid>

                                <confirm-dialog-form [model]="dataItem"  (accept)="onDelete($event)"></confirm-dialog-form>

                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>