<div id="content">
	<p-blockUI [blocked]="blockedUI"></p-blockUI>
	<p-growl [value]="msgs"></p-growl>

	<div class="row">
		<div class="page-header">
			<sa-big-breadcrumbs [items]="['Solicitar Permisos']" icon="group"></sa-big-breadcrumbs>
		</div>
		<div class="col-lg-12">
			<div class="tool-bar">
				<div class="btn-options">
					<button (click)="limpiarDatosPermiso()" class="btn btn-default" id="btnNueva">Nueva Solicitud
					</button>
					<button (click)="verSolicitudesPermiso()" class="btn btn-default" id="btnVer">Ver Solicitudes
					</button>
				</div>
			</div>

			<div class="well well-light">
				<div>
					<fieldset>
						<legend>Datos</legend>
						<div class="smart-form">
							<div class="row" *ngIf="jefeInmediatoCombo == false">
								<section class="col col-md-4">
									<label>Mensaje</label>
									<label class="input">
										<input type="text" id="messageValidation" [(ngModel)]="messageValidation"/>
									</label>
								</section>
							</div>

							<div class="row">

								<section class="col col-md-4">
									<label>Jefe Inmediato<span style="color: red">*</span></label>
									<label class="input">
										<kendo-dropdownlist id="idAtendidoPor"
															[data]="historiasLaboralesActuales"
															[textField]="'jefeInmediato'"
															[valueField]="'idJefeInmediato'"
															[defaultItem]="defaultItemHistoriaLaboral"
															[(ngModel)]="permisoEmpleado.idAtendidoPor"
															(selectionChange)="selectJefeInmediato()"
															[valuePrimitive]="true" style="width: 100%;" ></kendo-dropdownlist>
									</label>

								</section>
							</div>

							<div class="row">

								<section class="col col-md-4">
									<label>Tipo Permiso<span style="color: red">*</span></label>
									<label class="input">
										<kendo-dropdownlist [data]="motivos" name="motivo" id="motivo" [textField]="'nombre'"
															[valueField]="'codigo'" [defaultItem]="defaultItem"
															[(ngModel)]="permisoEmpleado.motivo" [valuePrimitive]="true"
															style="width: 100%;" (selectionChange)="cargarTipoPermiso($event)" ></kendo-dropdownlist>
									</label>
								</section>
								<section class="col col-md-8">
									<label>Razon</label>
									<label class="input">
										<input type="text" name="razon" id="razon" [(ngModel)]="permisoEmpleado.razon"/>
									</label>
								</section>
							</div>

							<div class="row">

								<section class="col col-md-4">
									<label>Fecha del Permiso<span style="color: red">*</span></label>
									<label class="input">
										<i class="icon-append fa fa-calendar"></i>
										<input type="text" name="fechaPermiso" id="datepickerDesde"

											   [(ngModel)]="permisoEmpleado.fecha"
											   placeholder="Seleccionar una Fecha"
											   (change)="onChangeFecha($event)"
											   (keyup)="keyUpLenghtInput($event)"
											   (ngModelChange)="dateModelChangeInicioBoolean($event)"
											   readonly="readonly"
											   saUiDatepicker date-format="dd/MM/yy"/>
									</label>
								</section>

								<section class="col col-md-2">
									<label>Desde (hh:mm)<span style="color: red">*</span></label>
									<label class="input">
										<p-inputMask mask="99:99" [(ngModel)]="permisoEmpleado.horaInicio"
													 (ngModelChange)="onChangeHoraInicio()"
													 placeholder="00:00" id="horaDesde"></p-inputMask>
									</label>
								</section>
								<section class="col col-md-2">
									<label>Hasta (hh:mm)<span style="color: red">*</span></label>
									<label class="input">
										<p-inputMask mask="99:99" [(ngModel)]="permisoEmpleado.horaFin"
													 (ngModelChange)="onChangeHoraFin()"
													 placeholder="00:00" id="horaHasta"></p-inputMask>
									</label>
								</section>
							</div>
							<div class="row" *ngIf="isPersonal">
								<section class="col col-md-4">
									<label>Fecha de Recuperacion<span style="color: red">*</span></label>
									<label class="input">
										<i class="icon-append fa fa-calendar"></i>
										<input type="text" id="datepickerHasta"

											   placeholder="Seleccionar una Fecha"
											   [(ngModel)]="permisoEmpleado.fechaRecuperacion"
											   (change)="onChangeFechaRecuperacion($event)"
											   (keyup)="keyUpLenghtInput($event)"
											   (ngModelChange)="dateModelChangeFinBoolean($event)"
											   readonly="readonly"
											   saUiDatepicker date-format="dd/MM/yy"/>
									</label>
								</section>
								<section class="col col-md-2">
									<label>Desde (hh:mm)<span style="color: red">*</span></label>
									<label class="input">
										<p-inputMask id="horaDesdeRecuperacion" mask="99:99" [(ngModel)]="permisoEmpleado.horaInicioRecuperacion"
													 (ngModelChange)="onChangeHoraInicioRecuperacion()"
													 placeholder="00:00"></p-inputMask>
									</label>
								</section>
								<section class="col col-md-2">
									<label>Hasta (hh:mm)<span style="color: red">*</span></label>
									<label class="input">
										<p-inputMask id="horaHastaRecuperacion" mask="99:99" [(ngModel)]="permisoEmpleado.horaFinRecuperacion"
													 (ngModelChange)="onChangeHoraFinRecuperacion()"
													 placeholder="00:00"></p-inputMask>
									</label>
								</section>
							</div>

							<div class="row" *ngIf="isCompensarhoras">
								<section class="col col-md-4">
									<label>Horas por Compensar</label>
									<label class="input state-disabled">
										<input type="text" disabled="disabled"/>
									</label>
								</section>
							</div>
							<div class="bottom-bar">
								<button (click)="showMessagePermiso()" class="btn btn-primary" id="btnGuardar">Solicitar Permiso</button>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>


	<kendo-dialog *ngIf="confirmActive" (close)="onClosePermiso()">

		<kendo-dialog-titlebar style="background-color: #E5702A;">
			Confirmacion
		</kendo-dialog-titlebar>
		<div class="modal-body">
			<div class="smart-form">

				<div class="row">
					<section class="col col-md-12 text-align-center">
						<label class="control-label">La solicitud se enviara a su jefe. ¿Desea continuar?</label>
					</section>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" (click)="onRegistrarPermisoEmpleado($event)"> Guardar
			</button>
			<button type="button" class="btn btn-default" (click)="onCancelPermiso($event)"> Cancelar
			</button>
		</div>
	</kendo-dialog>

</div>