<div role="main" class="lockscreen-page">
    <div id="content">
        <div class="logo-section">
            <img src="../../../assets/img/runaKuna-logo-v1.png" alt="RunaKuna">
        </div>
        <form class="animated flipInY">
            <div class="text-group">
                <h3>
                    Tu sesión ha expirado.
                </h3>
            </div>
            <div>
                <button class="btn btn-primary" (click)="login($event)">
                    Por favor ingresa nuevamente
                </button>
            </div>
        </form>
    </div>
</div>