<div id="content">

    <div class="page-header">
        <div class="btn-back" (click)="onRegresarBusquedaRoles()"><i class="ic-arrow-back"></i></div>
        <sa-big-breadcrumbs [items]="['Roles ']" icon="group"></sa-big-breadcrumbs>
    </div>

    <sa-widgets-grid>
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <div class="col-12">
                            <div class="well well-sm well-light">
                                <div class="padding-10">
                                    <div>
                                        <fieldset>
                                            <legend>Detalle</legend>
                                            <div class="smart-form">
                                                <div class="row">
                                                    <section class="col col-md-3">
                                                        <label>Codigo<span style="color: red">*</span></label>
                                                        <label class="input">
                                                            <input type="text" [(ngModel)]="rol.nombre" disabled="disabled"/>
                                                        </label>

                                                    </section>
                                                    <section class="col col-3">
                                                        <label>Nombre<span style="color: red">*</span></label>
                                                        <label class="input">
                                                            <input type="text" [(ngModel)]="rol.descripcion" disabled="disabled"/>
                                                        </label>
                                                    </section>
                                                    <section class="col col-md-2">
                                                        <label>Estado<span style="color: red">*</span></label>
                                                        <div>
                                                            <label class="input">
                                                                <kendo-dropdownlist id="estados" disabled="disabled"
                                                                                    [data]="estados"
                                                                                    [textField]="'nombre'"
                                                                                    [valuePrimitive] = "true"
                                                                                    [defaultItem]="defaultItemEstados"
                                                                                    [valueField]="'codigo'" style="width: 100%;"
                                                                                    [(value)]="rol.estado"
                                                                                    (selectionChange)="changeEstado($event)"
                                                                >

                                                                </kendo-dropdownlist>
                                                            </label>
                                                        </div>
                                                   </section>
                                                </div>
                                            </div>
                                       </fieldset>
                                    </div>
                                </div>
                            </div>
            </div>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </sa-widgets-grid>
    <!-- 2do grid -->
    <sa-widgets-grid>

        <!-- START ROW -->
        <div class="row">


            <!-- NEW COL START -->
            <div class="col-12">

                <sa-widget [colorbutton]="false" [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false"
                           [sortable]="false" [deletebutton]="false" >

                    <!-- widget div-->
                    <div>

                        <!-- widget content -->
                        <div class="widget-body">

                            <div class="well well-sm well-light">

                                <div class="padding-10">
                                    <div>

                                        <legend>Permisos</legend>
                                        <div class="widget-body">
                                            <fieldset>
                                                <kendo-grid
                                                        [data]="gridViewSubModulo"
                                                        [pageSize]="pageSizeRol"
                                                        [skip]="skipRol"
                                                        [pageable]="true"
                                                        [sort]="sort"
                                                        (dataStateChange)="pageChangeRol($event)">
                                                    <kendo-grid-column field="nombre" title="Modulo"></kendo-grid-column>
                                                    <div *kendoGridDetailTemplate="let dataItemSubModulo">
                                                        <administrar-rol-detail [accionDetail]="dataItemSubModulo.acciones" ></administrar-rol-detail>
                                                    </div>
                                                </kendo-grid>

                                            </fieldset>
                                        </div>

                                    </div>
                                </div>
                                <div class="padding-10">
                                    <div class="bottom-bar" *ngIf="isAuthorized('Editar')">
                                        <button (click)="onGuardarRol()" class="btn btn-primary" *ngIf="isAuthorized('Editar')"> Guardar</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </sa-widget>

            </div>
            <!-- END COL -->
        </div>
    </sa-widgets-grid>

</div>
