<div id="content">

	<p-growl [value]="msgs"></p-growl>

	<div class="row">

		<div class="page-header">
			<div class="btn-back" (click)="onRegresarBusquedaCargo()"><i class="ic-arrow-back"></i></div>
			<sa-big-breadcrumbs [items]="['Cargo ']" icon="group"></sa-big-breadcrumbs>
		</div>

			<div class="col-lg-12">

							<div class="well well-sm well-light">

								<div class="padding-10">

								<div>
									<fieldset>
										<legend>Datos</legend>

										<div class="smart-form">

											<div class="row">

												<section class="col col-md-4">
													<label>Unidad de negocio</label>
													<label class="input">
														<kendo-dropdownlist
																[data]="undnegocios"
																[textField]="'nombre'"
																[valueField]="'idUnidadDeNegocio'"
																[defaultItem]="defaultItemUnd"
																[valuePrimitive]="true"
																[(ngModel)]="cargo.idUnidadDeNegocio"
																[value] = "cargo.idUnidadDeNegocio"
																(selectionChange)="actualizarDpto($event)"
																[disabled]="!isAuthorized('Editar')"

																style="width: 100%;"
														>
														</kendo-dropdownlist>
													</label>
												</section>

												<section class="col col-md-4">
													<label>Departamento</label>
													<label class="input">
														<kendo-dropdownlist
																[data]="departamentos"
																[textField]="'nombre'"
																[valueField]="'idDepartamentoArea'"
																[valuePrimitive]="true"
																[(ngModel)]="cargo.idDepartamentoArea"
																[defaultItem]="defaultItemDepartamento"
																[value] = "cargo.idDepartamentoArea"
																(selectionChange)="actualizarProyecto($event)"
																[disabled]="!isAuthorized('Editar')"
																style="width: 100%;"

														>
														</kendo-dropdownlist>
													</label>
												</section>

												<section class="col col-md-4">
													<label>Proyecto</label>
													<label class="input">
														<kendo-dropdownlist
																[data]="proyectos"
																[textField]="'nombre'"
																[valueField]="'idProyecto'"
																[valuePrimitive]="true"
																[defaultItem]="defaultItemProyecto"
																[(ngModel)]="cargo.idProyecto"
																[value] = "cargo.idProyecto"
																[disabled]="!isAuthorized('Editar')"
																style="width: 100%;"

														>
														</kendo-dropdownlist>
													</label>
												</section>
											</div>

											<div class="row">
												<section class="col col-md-4">
													<label>Nombre</label><span style="color: red">*</span>
													<label [ngClass]="getEditableClass('Editar')">
														<input type="text" id="nombre" [(ngModel)]="cargo.nombre" [disabled]="!isAuthorized('Editar')"/>
													</label>
												</section>

												<section class="col col-md-4">
													<label>Cargo Superior</label>
													<label class="input">
														<kendo-dropdownlist
																[data]="cargoCombo"
																[textField]="'nombre'"
																[valueField]="'idCargo'"
																[defaultItem]="defaultItemCargo"
																[valuePrimitive]="true"
																[(ngModel)]="cargo.idSuperior"
																[value] = "cargo.idSuperior"
																[disabled]="!isAuthorized('Editar')"

																style="width: 100%;"
														>
														</kendo-dropdownlist>
													</label>
												</section>

												<section class="col col-md-4">
													<label>Estado</label><span style="color: red">*</span>
													<label class="input">
														<kendo-dropdownlist
																[data]="estados"
																[textField]="'nombre'"
																[valueField]="'codigo'"
																[defaultItem]="defaultItemEstado"
																[valuePrimitive]="true"
																[(ngModel)]="cargo.estado"
																[value] = "cargo.estado"
																[disabled]="!isAuthorized('Editar')"
																id="estado"
																style="width: 100%;"

														>
														</kendo-dropdownlist>
													</label>
												</section>



											</div>

											<div class="row">

												<section class="col col-md-12">
													<label>Descripcion</label>
													<label class="textarea">
														<textarea [(ngModel)]="cargo.descripcion" [disabled]="!isAuthorized('Editar')"></textarea>
													</label>
												</section>

											</div>

										</div>
									</fieldset>

								</div>

							</div>

							<div class="padding-10">

								<div>

									<legend>Banda Salarial</legend>
									<div class="widget-body">
										<fieldset>
											<div class="col-12 text-right padding-bottom-10">
												<button (click)="agregarBandaSalarial()" class="btn btn-default" *ngIf="isAuthorized('Editar')">Agregar
												</button>
											</div>
										</fieldset>
										<fieldset>
											<kendo-grid
													[data]="viewBandaSalarial"
													[pageSize]="pageSize"
													[skip]="skip"
													[pageable]="true"
													(pageChange)="pageChangeBandaSalarial($event)">

												<kendo-grid-column field="idBandaSalarial" title=" " width="40px" *ngIf="isAuthorized('Editar')">
													<template kendoGridCellTemplate let-dataItemBandaSalarial>
														<div class="text-center">
															<a href="javascript:void(0)" class="link" (click)="onEditarBandaSalarial(dataItemBandaSalarial)">
																<span class="fa fa-pencil"></span></a>
														</div>

													</template>
												</kendo-grid-column>
												<kendo-grid-column field="idBandaSalarial" title=" " width="40px" *ngIf="isAuthorized('Editar')">
													<template kendoGridCellTemplate let-dataItemBandaSalarial>
														<div class="text-center">
															<a href="javascript:void(0)" class="link" (click)="onEliminarBandaSalarial(dataItemBandaSalarial)">
																<span class="fa fa-trash-o"></span></a>
														</div>

													</template>
												</kendo-grid-column>
												<kendo-grid-column field="nombreMoneda" title="Moneda"></kendo-grid-column>
												<kendo-grid-column field="limiteSuperior" title="Limite Superior"></kendo-grid-column>
												<kendo-grid-column field="limiteMedio" title="Limite Medio"></kendo-grid-column>
												<kendo-grid-column field="limiteInferior" title="Limite Inferior"></kendo-grid-column>
												<kendo-grid-column field="inicioVigencia" title="Desde"></kendo-grid-column>
												<kendo-grid-column field="finVigencia" title="Hasta"></kendo-grid-column>


											</kendo-grid>
											<bandaSalarial-dialog-form [model]="dataItemBandaSalarial" (cancel)="onCancelarBandaSalarial()" (save)="onGuardarBandaSalarial($event)"></bandaSalarial-dialog-form>
										</fieldset>
									</div>

								</div>
							</div>
								<div class="padding-10">
									<div class="bottom-bar">
										<button (click)="onRegistrarCargo()" class="btn btn-primary" *ngIf="isAuthorized('Editar')"> Guardar</button>
									</div>

								</div>

						</div>


			</div>
		</div>

</div>
