<div id="content" class="search-view">

    <div class="row">
        <div class="page-header">
            <sa-big-breadcrumbs [items]="['Consulta de Tipo de Alertas']" icon="group"></sa-big-breadcrumbs>
        </div>
    </div>

    <!-- widget grid -->
    <sa-widgets-grid>
 <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- widget div-->
                       <div class="smart-form" >
                           <kendo-tabstrip>
                               <kendo-tabstrip-tab [title]="'Busqueda'" [selected]="true">
                                   <template kendoTabContent>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label>Tipo Notificacion</label>
                                            <label class="input">
                                                <kendo-dropdownlist
                                                        [data]="tipoNotificacion"
                                                        [defaultItem]="defaultItemTipoNotificacion"
                                                        [textField]="'nombre'"
                                                        [valueField]="'codigo'"
                                                        style="width: 100%;"
                                                        [(ngModel)]="busquedaAlertas.tipoNotificacion"
                                                        [valuePrimitive]="true"
                                                        [value]="busquedaAlertas.tipoNotificacion"
                                                >

                                                </kendo-dropdownlist>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label>Estado</label>
                                            <label class="input">
                                                <kendo-dropdownlist
                                                        [data]="estados"
                                                        [defaultItem]="defaultItemEstados"
                                                        [textField]="'nombre'"
                                                        [valueField]="'codigo'"
                                                        style="width: 100%;"
                                                        [(ngModel)]="busquedaAlertas.estado"
                                                        [valuePrimitive]="true"
                                                        [value]="busquedaAlertas.estado"
                                                >

                                                </kendo-dropdownlist>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="search-bar">
                                           <button type="button" class="btn btn-lg btn-default" (click)="onLimpiar()">
                                               Limpiar
                                           </button>
                                           <button type="submit" class="btn btn-lg btn-primary" (click)="onSubmit()">Buscar
                                           </button>
                                    </div>

                                   </template>
                               </kendo-tabstrip-tab>
                           </kendo-tabstrip>

                    </div>
                    <!-- end widget div -->
                <!-- end widget -->
            </article>
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </sa-widgets-grid>

    <!-- START 2DO - widget grid -->
    <sa-widgets-grid>

        <!-- START ROW -->
        <div class="row">


            <!-- NEW COL START -->
            <article class="col-sm-12">

                <sa-widget [colorbutton]="false" [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false" [togglebutton]="false"
                           [sortable]="false" [deletebutton]="false" >

                    <header>

                        <h2>Resultados {{alertaResult.length}}</h2>

                    </header>
                    <div class="widget-body">
                        <!--fieldset>
                            <div class="col-12 text-right">

                                <button (click)="onAgregarNuevaAlerta()" class="btn btn-primary" *ngIf="isAuthorized('Aprobar')"><i class="fa fa-plus"></i>
                                    Agregar
                                </button>
                            </div>
                        </fieldset-->
                        <fieldset>
                            <div [ngBusy]="{busy: busy, minDuration:1000}"></div>

                            <kendo-grid
                                    [data]="gridView"
                                    [pageSize]="pageSize"
                                    [skip]="skip"
                                    [pageable]="true"
                                    (pageChange)="pageChange($event)"
                            >
                                <kendo-grid-column field="idEdit" title=" " [width]="40" *ngIf="isAuthorized('Editar')">
                                    <template kendoGridCellTemplate let-dataItem>
                                            <div class="text-center">
                                                <a href="javascript:void(0)" class="link"
                                                   (click)="onEdit(dataItem)"><span class="fa fa-pencil"></span></a>

                                            </div>
                                    </template>
                                </kendo-grid-column>
                                <kendo-grid-column field="idEdit" title=" " [width]="40" *ngIf="!isAuthorized('Eliminar')">
                                    <template kendoGridCellTemplate let-dataItem>
                                        <div class="text-center">
                                            <a href="javascript:void(0)" class="link" (click)="onEdit(dataItem)">
                                                <span class="fa fa-eye"></span></a>
                                        </div>
                                    </template>
                                </kendo-grid-column>
                                <kendo-grid-column field="codigo" title="Codigo" [width]="300"></kendo-grid-column>
                                <kendo-grid-column field="tipoAlerta" title="Tipo Alerta" [width]="300"></kendo-grid-column>
                                <kendo-grid-column field="tipoNotificacion" title="Tipo Notificacion" [width]="220"></kendo-grid-column>
                                <kendo-grid-column field="estado" title="Estado" [width]="220"></kendo-grid-column>
                            </kendo-grid>
                        </fieldset>
                    </div>
                </sa-widget>

            </article>
            <!-- END COL -->

        </div>



    </sa-widgets-grid>

</div>