<div id="content">
	<p-growl [value]="msgs"></p-growl>
	<div class="row">

		<div class="page-header">
			<div class="btn-back" (click)="onRegresarVerEmpleado()"><i class="ic-arrow-back"></i></div>
			<sa-big-breadcrumbs [items]="['Contratos ']" icon="group"></sa-big-breadcrumbs>
		</div>


		<div class="col-lg-12">
			<div class="resume-panel">
				<div>
					<div class="resume-info">
						<div class="user-image">
							<i class="ic-person" id="iconPerson"></i>
							<img [src]="fotoEmpleado" style="display: none;" alt="Foto del Empleado" id="fotoEmpleado">
						</div>
						<div class="user-info">
							<div>
								<span>{{nombreCompletoEmpleado}}</span>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

		<div class="col-lg-12">

							<div class="well well-sm well-light">

								<div class="padding-10">
									<div>
										<fieldset>
											<div class="col-12 text-right padding-bottom-10">
												<button (click)="onNuevoContratoEmpleado()" class="btn btn-primary">
													Nuevo Contrato
												</button>
											</div>
										</fieldset>
									</div>

									<div>
										<fieldset>


											<kendo-grid [data]="contratos" >

												<kendo-grid-column field="idContrato" title=" " [width]="40">
													<template kendoGridCellTemplate let-dataItem>
														<div class="text-center">
															<a href="javascript:void(0)" class="link" (click)="onEditarContratoEmpleado(dataItem)">
																<span class="fa fa-pencil"></span></a>
														</div>
													</template>
												</kendo-grid-column>

												<kendo-grid-column field="idContrato" title=" " [width]="40">
													<template kendoGridCellTemplate let-dataItem>
														<div class="text-center">
															<a href="javascript:void(0)" class="link" (click)="confirm(dataItem)">
																<span class="fa fa-trash"></span></a>
														</div>
													</template>
												</kendo-grid-column>

												<kendo-grid-column field="cargo" title="Cargo" [width]="200"></kendo-grid-column>
												<kendo-grid-column field="salario" title="Salario" [width]="70"></kendo-grid-column>
												<kendo-grid-column field="monedaString" title="Moneda" [width]="120"></kendo-grid-column>
												<kendo-grid-column field="estado" title="Estado" [width]="120"></kendo-grid-column>
												<kendo-grid-column field="fechaInicio" title="Fecha Inicio" [width]="100"></kendo-grid-column>
												<kendo-grid-column field="fechaFin" title="Fecha Fin" [width]="100"></kendo-grid-column>
												<kendo-grid-column field="duracion" title="Duracion" [width]="150"></kendo-grid-column>
											</kendo-grid>
											<confirm-dialog-form [model]="dataItem"  (accept)="onEliminarContrato($event)"></confirm-dialog-form>

										</fieldset>

									</div>

								</div>
							</div>
			</div>
		</div>



</div>
