<div id="content">
	<div class="page-header">
		<div class="btn-back" (click)="onRegresarBusquedaModulo()"><i class="ic-arrow-back"></i></div>
		<sa-big-breadcrumbs [items]="['Modulos ']" icon="group"></sa-big-breadcrumbs>
	</div>

	<!-- row -->

		<div class="row">
			<!-- NEW WIDGET START -->
			<div class="col-lg-12">
							<div class="well well-sm well-light">

								<div class="padding-10">

								<div>
									<fieldset>
										<legend>Datos</legend>

										<div class="smart-form">

											<div class="row">
												<section class="col col-md-4">
													<label>Codigo</label>
													<label [ngClass]="getEditableClass('Editar')">
														<input type="text" [(ngModel)]="moduloAccion.codigo" [disabled]="true"/>
													</label>
												</section>
											</div>

											<div class="row">

												<section class="col col-md-4">
													<label>Nombre<span style="color: red">*</span></label>
													<label [ngClass]="getEditableClass('Editar')">
														<input type="text" [(ngModel)]="moduloAccion.nombre" [disabled]="!isAuthorized('Editar')" id="nombre"/>
													</label>
												</section>

												<section class="col col-md-4">
													<label>Etiqueta Menu<span style="color: red">*</span></label>
													<label [ngClass]="getEditableClass('Editar')">
														<input type="text" [(ngModel)]="moduloAccion.etiquetaMenu" [disabled]="!isAuthorized('Editar')" id="etiqueta"/>
													</label>
												</section>

												<section class="col col-md-4">
													<label>Orden<span style="color: red">*</span></label>
													<label [ngClass]="getEditableClass('Editar')">
														<input type="text" [(ngModel)]="moduloAccion.orden" [disabled]="!isAuthorized('Editar')" id="orden"/>
													</label>
												</section>

											</div>
											<div class="row">

												<section class="col col-md-4">
													<label>Url</label>
													<label [ngClass]="getEditableClass('Editar')">
														<input type="text" [(ngModel)]="moduloAccion.url" [disabled]="true"/>
													</label>
												</section>

												<section class="col col-md-4">
													<label>Help Url</label>
													<label [ngClass]="getEditableClass('Editar')">
														<input type="text" [(ngModel)]="moduloAccion.helpUrl" [disabled]="true"/>
													</label>
												</section>

												<section class="col col-md-4">
													<label>Visible</label>
													<label class="select">
														<input type="checkbox" [(ngModel)]="moduloAccion.visible" [disabled]="!isAuthorized('Editar')"/>
													</label>
												</section>

											</div>

										</div>
									</fieldset>

								</div>

								</div>
							</div>

			</div>
			<!-- WIDGET END -->
		</div>

		<!-- end row -->

		<!-- START ROW -->
		<div class="row">


			<!-- NEW COL START -->
			<div class="col-12">

				<sa-widget [colorbutton]="false" [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false"
						   [sortable]="false" [deletebutton]="false" >

				<!-- widget div-->
				<div>

				<!-- widget content -->
					<div class="widget-body">

						<div class="well well-sm well-light">

							<div class="padding-10">

								<div>

									<legend>Acciones</legend>
									<div class="widget-body">

										<fieldset>
											<kendo-grid
													[data]="gridViewAcciones"
													[pageSize]="pageSize"
													[skip]="skip"
													[pageable]="true"
													(pageChange)="pageChangeAcciones($event)">

												<kendo-grid-column field="idAccion" title=" " width="40px" *ngIf="isAuthorized('Editar')">
													<template kendoGridCellTemplate let-dataItemAccion>
														<div class="text-center">
															<a href="javascript:void(0)" class="link" (click)="onEditarAccion(dataItemAccion)">
																<span class="fa fa-pencil"></span></a>
														</div>

													</template>
												</kendo-grid-column>

												<kendo-grid-column field="nombre" title="Accion"></kendo-grid-column>
												<kendo-grid-column field="etiqueta" title="Etiqueta"></kendo-grid-column>
												<kendo-grid-column field="tipoAccion" title="Tipo Accion"></kendo-grid-column>
												<kendo-grid-column field="autorizacionDefectoString" title="Autorizacion por defecto"></kendo-grid-column>
												<kendo-grid-column field="editableString" title="Editable"></kendo-grid-column>



											</kendo-grid>
											<accion-dialog-form [model]="dataItemAccion" (cancel)="onCancelarAccion()" (save)="onGuardarAccion($event)"></accion-dialog-form>
										</fieldset>
									</div>

								</div>
							</div>
							<div class="padding-10">
								<div class="bottom-bar" *ngIf="isAuthorized('Editar')">
									<button (click)="onRegistrarModulo()" class="btn btn-primary" *ngIf="isAuthorized('Editar')"> Guardar</button>
								</div>

							</div>
						</div>
					</div>
				</div>
				</sa-widget>

			</div>
			<!-- END COL -->
		</div>


</div>
