<div id="content">

    <p-growl [value]="msgs"></p-growl>
  <div class="row">

      <div class="page-header">
          <div class="btn-back" (click)="goBack()"><i class="ic-arrow-back"></i></div>
          <sa-big-breadcrumbs [items]="['Nuevo Cargo ']" icon="group"></sa-big-breadcrumbs>
      </div>


      <div class="col-lg-12">
          <div class="resume-panel">
              <div>
                  <div class="resume-info">
                      <div class="user-image">
                          <i class="ic-person" id="iconPerson"></i>
                          <img [src]="fotoEmpleado" style="display: none;" id="fotoEmpleado">
                      </div>
                      <div class="user-info">
                          <div>
                              <span>{{nombreCompletoEmpleado}}</span>
                          </div>
                      </div>
                  </div>

              </div>
          </div>

      </div>


    <div class="col-lg-12">

                <div class="well well-sm well-light">

                    <div class="padding-10">

                        <div>
                            <fieldset>
                                <legend>Datos</legend>

                                <div class="smart-form">
                                    <div class="row">
                                        <section class="col col-3">
                                            <label>Fecha Inicio<span style="color: red">*</span></label>
                                            <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" name="desdeFecha" id="desdeFecha" [(ngModel)]="historialLaboral.desdeFecha"
                                                       (change)="onChangeIniDate($event)"
                                                       saUiDatepicker readonly/>
                                            </label>
                                        </section>

                                        <section class="col col-3">
                                            <label>Fecha Fin</label>
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" name="request" [(ngModel)]="historialLaboral.hastaFecha" (change)="onChangeFinDate($event)"
                                                       saUiDatepicker readonly/>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-3">
                                            <label>Unidad de Negocio<span style="color: red">*</span></label>
                                            <label class="input">
                                                <kendo-dropdownlist
                                                        [data]="unidadDeNegocio" id="unidadNegocio" name="unidadNegocio"
                                                        [textField]="'nombre'"
                                                        [valueField]="'idUnidadDeNegocio'" [defaultItem]="defaultItem"
                                                        [valuePrimitive] = "true" class="required"
                                                        (selectionChange)="actualizarDpto($event)" style="width: 100%;" [(ngModel)]="historialLaboral.idUnidadDeNegocio"
                                                >
                                                </kendo-dropdownlist>
                                            </label>
                                        </section>

                                        <section class="col col-3">
                                            <label>Departamento</label>
                                            <label class="input">
                                                <kendo-dropdownlist
                                                        [data]="departamentoArea"
                                                        [textField]="'nombre'"
                                                        [valueField]="'idDepartamentoArea'"
                                                        [valuePrimitive] = "true"
                                                        (selectionChange)="actualizarProyecto($event)" style="width: 100%;" [(ngModel)]="historialLaboral.idDepartamentoArea"
                                                >
                                                </kendo-dropdownlist>
                                            </label>
                                        </section>

                                        <section class="col col-3">
                                            <label>Proyecto</label>
                                            <label class="input">
                                                <kendo-dropdownlist
                                                        [data]="proyecto"
                                                        [textField]="'nombre'"
                                                        [valueField]="'idProyecto'"
                                                        [valuePrimitive] = "true"
                                                        style="width: 100%;" [(ngModel)]="historialLaboral.idProyecto"
                                                >
                                                </kendo-dropdownlist>
                                             </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-3">
                                            <label>Cargo<span style="color: red">*</span></label>
                                            <label class="input">
                                                <kendo-dropdownlist
                                                        [data]="cargos" id="idCargo" name="idCargo"
                                                        [textField]="'nombre'"
                                                        [valuePrimitive] = "true"
                                                        (selectionChange)="onChangeCargo($event)"
                                                        [valueField]="'idCargo'" style="width: 100%;" [(ngModel)]="historialLaboral.idCargo"
                                                >
                                                </kendo-dropdownlist>
                                            </label>
                                        </section>
                                    </div>


                                    <div class="form-group">
                                            <label class="label">Descripci&oacute;n</label>
                                            <textarea class="form-control" rows="5" [(ngModel)]="historialLaboral.descripcion"></textarea>

                                    </div>

                                </div>
                            </fieldset>

                        </div>


                        <div>
                            <fieldset>
                                <legend>Salario</legend>

                                <div class="smart-form">
                                    <div class="row">
                                        <section class="col col-3">
                                            <label>Monto<span style="color: red">*</span></label>
                                            <label class="input">
                                                <input type="text" id="salario" name="name" placeholder="0.00" [(ngModel)]="historialLaboral.salario" [textMask]="{mask: currencyMask,guide:false}">
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label>Moneda<span style="color: red">*</span></label>
                                            <label class="input">
                                                <kendo-dropdownlist
                                                        [data]="monedas" id="idMoneda" name="idMoneda"
                                                        [textField]="'nombre'"
                                                        [valuePrimitive] = "true"
                                                        [value]="selectedValue"
                                                        (selectionChange)="onChangeMoneda($event)"
                                                        [valueField]="'idMoneda'" style="width: 100%;" [(ngModel)]="historialLaboral.idMoneda"
                                                >
                                                </kendo-dropdownlist>
                                            </label>
                                        </section>
                                    </div>
                                </div>
                             </fieldset>
                        </div>
                    </div>
                    <div class="padding-10">
                        <div class="bottom-bar">
                            <button (click)="onRegistrarCargo()" class="btn btn-primary btn-lg"> Guardar </button>
                        </div>

                    </div>
                </div>
    </div>
  </div>
</div>