<div id="content">

    <div class="row">

        <div class="page-header">
            <div class="btn-back" (click)="onRegresarBusquedaVacaciones()"><em class="ic-arrow-back"></em></div>
            <sa-big-breadcrumbs [items]="['Regularizar Vacaci&oacute;n ']" icon="group"></sa-big-breadcrumbs>
        </div>

        <p-growl [value]="msgs"></p-growl>


        <div class="col-lg-12">

            <div class="well well-light">
                <div>
                    <fieldset>
                        <legend>Datos</legend>

                        <div class="smart-form">
                            <div class="row">
                                <section class="col col-md-4">
                                    <label>Empleado</label>
                                    <label class="input">
                                        <em class="icon-append fa fa-search"></em>
                                        <ng2-completer [(ngModel)]="agendarVacacion.nombreEmpleado"
                                                       [dataService]="dataServiceEmpleado"
                                                       [minSearchLength]="0"
                                                       (selected)="selectEmpleado($event)">
                                        </ng2-completer>

                                    </label>
                                </section>
                                <section class="col col-md-4">
                                    <label>Jefe Inmediato</label><span style="color: red">*</span>
                                    <label class="input">
                                        <kendo-dropdownlist id="jefeInmediato"
                                                            [data]="historiasLaboralesActuales"
                                                            [textField]="'jefeInmediato'"
                                                            [valueField]="'idJefeInmediato'"
                                                            [defaultItem]="defaultItemHistoriaLaboral"
                                                            [(ngModel)]="agendarVacacion.idAtendidoPor"
                                                            (selectionChange)="selectJefeInmediato($event)"
                                                            [valuePrimitive]="true"
                                                            style="width: 100%;"></kendo-dropdownlist>
                                    </label>

                                </section>
                                <section class="col col-md-3">
                                    <label>Per&iacute;odo</label>
                                    <label class="input state-disabled">
                                        <input type="text" [(ngModel)]="agendarVacacionPeriodo.periodo" disabled="disabled"/>
                                    </label>

                                </section>
                            </div>

                            <div class="row">

                                <section class="col col-md-3">
                                    <label>Desde<span style="color: red">*</span></label>
                                    <label class="input">
                                        <em class="icon-append fa fa-calendar"></em>
                                        <!--[textMask]="{mask: dateTimeMask,guide:false}"-->
                                        <input type="text" id="datepickerDesde"
                                               [(ngModel)]="agendarVacacion.fechaInicio"
                                               (change)="onChangeFechaInicio($event)"
                                               (keyup)="keyUpLenghtInput($event)"
                                               (ngModelChange)="dateModelChangeInicioBoolean($event)"
                                               placeholder="Seleccionar una Fecha"
                                               readonly="readonly"
                                               saUiDatepicker/>
                                    </label>
                                </section>
                                <section class="col col-md-2">
                                    <label>D&iacute;as Calendarios</label>
                                    <label class="input">
                                        <input type="text" name="diasCalendarios" id="diasCalendarios"
                                               [(ngModel)]="agendarVacacion.diasCalendarios" readonly="readonly"/>
                                    </label>
                                </section>
                                <section class="col col-md-2">
                                    <label>D&iacute;as Disponibles</label>
                                    <label class="input state-disabled">
                                        <input type="text" name="diasDisponibles" id="diasDisponibles"
                                               [(ngModel)]="agendarVacacion.diasVacacionesDisponibles"
                                               disabled="disabled"/>
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-md-3">
                                    <label>Hasta<span style="color: red">*</span></label>
                                    <label class="input">
                                        <em class="icon-append fa fa-calendar"></em>
                                        <!--[textMask]="{mask: dateTimeMask,guide:false}"-->
                                        <input type="text" id="datepickerHasta"

                                               [(ngModel)]="agendarVacacion.fechaFin"
                                               (change)="onChangeFechaFin($event)"
                                               (keyup)="keyUpLenghtInput($event)"
                                               (ngModelChange)="dateModelChangeFinBoolean($event)"
                                               placeholder="Seleccionar una Fecha"
                                               readonly="readonly"
                                               saUiDatepicker/>
                                    </label>
                                </section>

                                <section class="col col-md-2">
                                    <label>D&iacute;as H&aacute;biles</label>
                                    <label class="input">
                                        <input type="text" id="diasHabiles" [(ngModel)]="agendarVacacion.diasHabiles"
                                               readonly="readonly">
                                    </label>
                                </section>

                            </div>
                            <div class="bottom-bar">
                                <button (click)="showMessage()" class="btn btn-primary" id="btnGuardar">Regularizar
                                </button>
                            </div>

                        </div>
                    </fieldset>

                </div>
            </div>

            <kendo-dialog *ngIf="confirmActive" (close)="onClose()">

                <kendo-dialog-titlebar style="background-color: #E5702A;">
                    Confirmacion
                </kendo-dialog-titlebar>
                <div class="modal-body">
                    <div class="smart-form">

                        <div class="row">
                            <section class="col col-md-12 text-align-center">
                                <label class="control-label">La solicitud se enviara a su jefe. ¿Desea
                                    continuar?</label>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="onRegistrarVacaciones($event)"> Guardar
                    </button>
                    <button type="button" class="btn btn-default" (click)="onCancel($event)"> Cancelar
                    </button>
                </div>
            </kendo-dialog>
        </div>
        <!-- WIDGET END -->
    </div>


</div>
