<div id="content">

    <p-growl [value]="msgs"></p-growl>

    <div class="row">
        <!--div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-group"></i>
                <a (click)="onRegresarBusquedaAlertas()" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> </a> Alerta
            </h1>
        </div-->
        <div class="page-header">
            <div class="btn-back" (click)="onRegresarBusquedaAlertas()"><i class="ic-arrow-back"></i></div>
            <sa-big-breadcrumbs [items]="['Alerta']" icon="group"></sa-big-breadcrumbs>
        </div>

            <div class="col-lg-12">

                            <div class="well well-sm well-light">

                                <div class="padding-10">

                                    <div>
                                        <fieldset>
                                            <legend>Datos</legend>

                                            <div class="smart-form">

                                                <div class="row">
                                                    <section class="col col-md-3">
                                                        <label>Codigo</label>
                                                        <label class="input">
                                                            <input type="text" [(ngModel)]="alerta.codigo" disabled="disabled"/>
                                                        </label>

                                                    </section>
                                                    <section class="col col-3">
                                                        <label>Tipo Alerta</label>
                                                        <label class="input">
                                                            <kendo-dropdownlist id="tipoAlerta" disabled="disabled"
                                                                    [data]="tipoAlerta"
                                                                    [textField]="'nombre'"
                                                                    [valuePrimitive] = "true"
                                                                    [defaultItem]="defaultItemTipoAlerta"
                                                                    [valueField]="'codigo'" style="width: 100%;"
                                                                    [(value)]="alerta.codigoTipoAlerta"
                                                            >

                                                            </kendo-dropdownlist>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label>Tipo Notificacion</label>
                                                        <label class="input">
                                                            <kendo-dropdownlist id="tipoNotificacion" disabled="disabled"
                                                                    [data]="tipoNotificacion"
                                                                    [textField]="'nombre'"
                                                                    [valuePrimitive] = "true"
                                                                    [defaultItem]="defaultItemTipoNotificacion"
                                                                    [valueField]="'codigo'" style="width: 100%;"
                                                                    [(value)]="alerta.codigoTipoNotificacion"
                                                            >

                                                            </kendo-dropdownlist>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-md-12">
                                                        <label>Correo Electronico - Asunto</label>
                                                        <label class="input">
                                                            <input style="width: 100%;" type="text" [(ngModel)]="alerta.asunto" disabled="disabled"/>
                                                        </label>

                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-md-12">
                                                        <label>Correo Electronico - Cuerpo</label>
                                                        <label class="textarea">
                                                            <textarea style="width: 100%;" rows="3" class="custom-scroll" [(ngModel)]="alerta.cuerpo" disabled="disabled"></textarea>
                                                        </label>

                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-md-12">
                                                        <label>Dashboard - Alerta</label>
                                                        <label class="textarea">
                                                            <textarea style="width: 100%;" rows="3" class="custom-scroll" [(ngModel)]="alerta.alerta" disabled="disabled"></textarea>
                                                        </label>

                                                    </section>
                                                </div>
                                                <div class="row">

                                                    <section class="col col-md-2">
                                                        <label>Estado<span style="color: red">*</span></label>
                                                        <div>
                                                            <label class="input">
                                                                <kendo-dropdownlist id="estados"
                                                                                    [data]="estados"
                                                                                    [textField]="'nombre'"
                                                                                    [valuePrimitive] = "true"
                                                                                    [defaultItem]="defaultItemEstados"
                                                                                    [valueField]="'codigo'" style="width: 100%;"
                                                                                    [(value)]="alerta.codigoEstado"
                                                                                    (selectionChange)="changeEstado($event)"
                                                                >

                                                                </kendo-dropdownlist>
                                                            </label>
                                                        </div>
                                                    </section>

                                                </div>
                                            </div>
                                        </fieldset>

                                    </div>

                                </div>

                                <div class="padding-10">

                                    <div>
                                        <fieldset>
                                            <legend>Subscriptores</legend>
                                            <div class="smart-form">
                                                <div class="row">

                                                    <section class="col col-md-2">
                                                        <label>Jefe Proyecto</label>
                                                        <div>
                                                            <label class="select">
                                                                <input id="jefeProyecto" type="checkbox" [(ngModel)]="alerta.jefeProyecto" />
                                                            </label>
                                                        </div>
                                                    </section>
                                                    <section class="col col-md-2">
                                                        <label>Jefe Departamento</label>
                                                        <div>
                                                            <label class="select">
                                                                <input id="jefeDepartamento" type="checkbox" [(ngModel)]="alerta.jefeDepartamento"/>
                                                            </label>
                                                        </div>
                                                    </section>
                                                    <section class="col col-md-2">
                                                        <label>Jefe Unidad de Negocio</label>
                                                        <div>
                                                            <label class="select">
                                                                <input id="jefeUnidad" type="checkbox" [(ngModel)]="alerta.jefeUnidad"/>
                                                            </label>
                                                        </div>
                                                    </section>
                                                    <section class="col col-md-2">
                                                        <label>Jefe Empresa</label>
                                                        <div>
                                                            <label class="select">
                                                                <input id="jefeEmpresa" type="checkbox" [(ngModel)]="alerta.jefeEmpresa"/>
                                                            </label>
                                                        </div>
                                                    </section>

                                                </div>
                                                <div class="row">
                                                    <section class="col col-md-3">
                                                        <label>Empleado</label>
                                                        <div>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-search"></i>
                                                                <ng2-completer [(ngModel)]="alertaSubscriptor.nombreEmpleado"
                                                                               [dataService]="dataServiceEmpleado"
                                                                               [minSearchLength]="0"
                                                                               (selected)="selectEmpleado($event)">
                                                                </ng2-completer>
                                                            </label>
                                                        </div>
                                                    </section>
                                                    <section class="col col-md-1">
                                                        <label></label>
                                                        <div>
                                                            <button (click)="onAgregarSubscriptor($event)" class="btn btn-default" *ngIf="isAuthorized('Editar')">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-md-6">
                                                        <kendo-grid [data]="view">
                                                            <kendo-grid-column field="idSubscriptor" title=" " width="40px" *ngIf="isAuthorized('Editar')">
                                                                <template kendoGridCellTemplate let-dataItem>
                                                                    <div class="text-center">
                                                                        <a href="javascript:void(0)" class="link" (click)="onDelete(dataItem)">
                                                                            <span class="fa fa-trash"></span></a>
                                                                    </div>

                                                                </template>
                                                            </kendo-grid-column>
                                                            <kendo-grid-column field="nombreEmpleado" title="Empleado"></kendo-grid-column>
                                                        </kendo-grid>
                                                    </section>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="padding-10">
                                    <div class="bottom-bar">
                                        <button (click)="onGuardarAlertas()" class="btn btn-primary" *ngIf="isAuthorized('Editar')"> Guardar</button>
                                    </div>

                                </div>


                            </div>


            </div>
        </div>

</div>
