<div id="content" class="search-view">

    <p-growl [value]="msgs"></p-growl>

    <div class="row">
        <div class="page-header">
            <sa-big-breadcrumbs [items]="['Consulta de Empresas']" icon="group"></sa-big-breadcrumbs>
        </div>
    </div>

    <sa-widgets-grid>

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                            <div class="smart-form">
                                <kendo-tabstrip>
                                    <kendo-tabstrip-tab [title]="'B&uacute;squeda'" [selected]="true">
                                        <template kendoTabContent>

                                            <div class="row">

                                                <section class="col col-4">
                                                    <label>Jefe</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-search"></i>
                                                        <ng2-completer [(ngModel)]="busquedaEmpresa.jefe" [dataService]="dataServiceJefe" [minSearchLength]="0" (selected)="selectJefe($event)" (keyup)="validateFilterEmptyJefe($event)"></ng2-completer>
                                                    </label>
                                                </section>

                                                <section class="col col-4">
                                                    <label>Razon Social</label>
                                                    <label class="input">
                                                        <input type="text" [(ngModel)]="busquedaEmpresa.razonSocial" (keypress)="validaEnter($event)"/>
                                                    </label>
                                                </section>

                                                <section class="col col-4">
                                                    <label>Ruc</label>
                                                    <label class="input">
                                                        <input type="text" [(ngModel)]="busquedaEmpresa.ruc" (keypress)="validaEnter($event)"/>
                                                    </label>
                                                </section>

                                            </div>

                                            <div class="row">

                                                <section class="col col-4">
                                                    <label>Codigo</label>
                                                    <label class="input">
                                                        <input type="text" [(ngModel)]="busquedaEmpresa.codigo" (keypress)="validaEnter($event)"/>
                                                    </label>
                                                </section>

                                                <section class="col col-4">
                                                    <label>Estado</label>
                                                    <label class="input">
                                                        <kendo-dropdownlist
                                                                 [data]="estados"
                                                                 [defaultItem]="defaultItemEstado"
                                                                 [textField]="'nombre'"
                                                                 [valueField]="'codigo'"
                                                                 style="width: 100%;"
                                                                 [valuePrimitive]="true"
                                                                 [(ngModel)]="busquedaEmpresa.estado"
                                                                 [value]="busquedaEmpresa.estado"
                                                        >
                                                        </kendo-dropdownlist>
                                                    </label>
                                                </section>

                                            </div>

                                            <div class="search-bar">
                                                <button type="button" class="btn btn-lg btn-default" (click)="onLimpiar()">
                                                    Limpiar
                                                </button>
                                                <button type="submit" class="btn btn-lg btn-primary" (click)="onSubmit()">Buscar</button>
                                            </div>

                                        </template>
                                    </kendo-tabstrip-tab>
                                </kendo-tabstrip>
                            </div>
            </article>

        </div>

    </sa-widgets-grid>

    <sa-widgets-grid>

        <div class="row">

            <alert *ngIf="noItems" type="info" dismissible="true">
                <i class="fa-fw fa fa-info"></i>
                <strong>Info!</strong> No hay información para exportar.
            </alert>

            <article class="col-sm-12">

                <sa-widget [colorbutton]="false" [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false"
                           [sortable]="false" [deletebutton]="false" >

                    <header>
                        <h2>Resultados {{empresas.length}}</h2>
                    </header>

                    <div class="widget-body">

                    <fieldset>
                            <div class="col-12 text-right padding-bottom-10">

                                <button (click)="onNuevaEmpresa()" class="btn btn-default" >
                                    Nueva Empresa
                                </button>
                            </div>
                    </fieldset>

                    <fieldset>

                        <div [ngBusy]="{busy: busy, minDuration:1000}"></div>
                        <kendo-grid
                                [data]="gridView"
                                [pageSize]="pageSize"
                                [skip]="skip"
                                [pageable]="true"
                                (pageChange)="pageChangeEmpresa($event)"
                        >

                            <kendo-grid-column field="idEmpresa" title=" " width="40" *ngIf="isAuthorized('Editar')">
                                <template kendoGridCellTemplate let-dataItem>
                                    <div class="text-center">
                                        <a href="javascript:void(0)" class="link" (click)="onActualizarEmpresa(dataItem)">
                                            <span class="fa fa-pencil"></span></a>
                                    </div>
                                </template>
                            </kendo-grid-column>

                            <kendo-grid-column field="idEmpresa" title=" " width="40" *ngIf="!isAuthorized('Editar')">
                                <template kendoGridCellTemplate let-dataItem>
                                    <div class="text-center">
                                        <a href="javascript:void(0)" class="link" (click)="onActualizarEmpresa(dataItem)">
                                            <span class="fa fa-pencil"></span></a>
                                    </div>
                                </template>
                            </kendo-grid-column>

                            <kendo-grid-column field="razonSocial" title="Razon Social" [width]="300"></kendo-grid-column>
                            <kendo-grid-column field="codigo" title="Codigo" [width]="100"></kendo-grid-column>
                            <kendo-grid-column field="ruc" title="RUC" [width]="100"></kendo-grid-column>
                            <kendo-grid-column field="jefe" title="Jefe" [width]="200"></kendo-grid-column>
                            <kendo-grid-column field="estado" title="Estado" [width]="100"></kendo-grid-column>
                        </kendo-grid>


                    </fieldset>
                    </div>
                </sa-widget>

            </article>

        </div>
    </sa-widgets-grid>
</div>