<div id="content">

    <p-growl [value]="msgs"></p-growl>
    <div class="row">
        <!--div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-group"></i>
                <a (click)="onRegresarBusquedaReporteMarcaciones()" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> </a> Reporte de Marcaciones
            </h1>
        </div-->
        <div class="page-header">
            <div class="btn-back" (click)="onRegresarBusquedaReporteMarcaciones()"><i class="ic-arrow-back"></i></div>
            <sa-big-breadcrumbs [items]="['Reporde de Marcaciones']" icon="group"></sa-big-breadcrumbs>
        </div>

            <div class="col-lg-12">

                            <div class="well well-sm well-light">

                                <div class="padding-10">

                                    <div>
                                        <fieldset>
                                            <legend>Filtros del Reporte</legend>

                                            <div class="smart-form">

                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label>Unidad de negocio</label>
                                                        <label class="input">
                                                            <kendo-dropdownlist
                                                                    [data]="unidadDeNegocio"
                                                                    [textField]="'nombre'"
                                                                    [valuePrimitive] = "true"
                                                                    [defaultItem]="defaultItemUndNegocio"
                                                                    [valueField]="'idUnidadDeNegocio'" style="width: 100%;"
                                                                    [(value)] = "reporteMarcacion.idUnidadDeNegocio"
                                                                    (selectionChange)="actualizarDpto($event)"
                                                                    [disabled]="!isAuthorized('Editar')">
                                                            </kendo-dropdownlist>
                                                        </label>
                                                    </section>

                                                    <section class="col col-3">
                                                        <label>Departamento</label>
                                                        <label class="input">
                                                            <kendo-dropdownlist
                                                                    [data]="departamentoArea"
                                                                    [textField]="'nombre'"
                                                                    [valuePrimitive] = "true"
                                                                    [defaultItem]="defaultItemDepartamento"
                                                                    [valueField]="'idDepartamentoArea'" style="width: 100%;"
                                                                    [(value)] = "reporteMarcacion.idDepartamentoArea"
                                                                    (selectionChange)="actualizarProyecto($event)"
                                                                    [disabled]="!isAuthorized('Editar')">
                                                            </kendo-dropdownlist>
                                                        </label>
                                                    </section>

                                                    <section class="col col-3">
                                                        <label>Proyecto</label>
                                                        <label class="input">
                                                            <kendo-dropdownlist
                                                                    [data]="proyecto"
                                                                    [textField]="'nombre'"
                                                                    [valuePrimitive] = "true"
                                                                    [defaultItem]="defaultItemProyecto"
                                                                    [valueField]="'idProyecto'" style="width: 100%;"
                                                                    [(value)] = "reporteMarcacion.idProyecto"
                                                                    [disabled]="!isAuthorized('Editar')">
                                                            </kendo-dropdownlist>
                                                        </label>
                                                    </section>
                                                </div>

                                                <div class="row">

                                                    <section class="col col-3">
                                                        <label>Jefe</label>
                                                        <label [ngClass]="getEditableClass('Editar')">
                                                            <i class="icon-append fa fa-search"></i>
                                                            <ng2-completer [(ngModel)]="reporteMarcacion.jefeInmediato"
                                                                           [dataService]="dataServiceJefe"
                                                                           [minSearchLength]="0"
                                                                           [clearSelected]="false"
                                                                           (selected)="selectJefe($event)" [disabled]="!isAuthorized('Editar')">
                                                            </ng2-completer>
                                                        </label>
                                                    </section>

                                                </div>

                                            </div>
                                        </fieldset>

                                    </div>

                                </div>

                                <div class="padding-10">

                                    <div>

                                        <legend>Configuración del Reporte</legend>
                                        <div class="row">

                                            <section class="col col-md-2">
                                                <label>Reporte Diario</label>
                                                <div>
                                                    <label class="select">
                                                        <input id="reporteDiario" type="checkbox" [(ngModel)]="reporteMarcacion.reporteDiario" [disabled]="!isAuthorized('Editar')" />
                                                    </label>
                                                </div>
                                            </section>
                                            <section class="col col-md-2">
                                                <label>Reporte Acumulado</label>
                                                <div>
                                                    <label class="select">
                                                        <input id="reporteAcumulado" type="checkbox" [(ngModel)]="reporteMarcacion.reporteAcumulado" [disabled]="!isAuthorized('Editar')"/>
                                                    </label>
                                                </div>
                                            </section>
                                            <section class="col col-md-2">
                                                <label>Estado<span style="color: red">*</span></label>
                                                <div>
                                                    <label class="input">
                                                        <kendo-dropdownlist id="estadoReq"
                                                                [data]="estados"
                                                                [textField]="'nombre'"
                                                                [valuePrimitive] = "true"
                                                                [defaultItem]="defaultItemEstados"
                                                                [valueField]="'codigo'" style="width: 100%;"
                                                                [(value)]="reporteMarcacion.estado"
                                                                (selectionChange)="changeEstado($event)"
                                                                 [disabled]="!isAuthorized('Editar')">

                                                        </kendo-dropdownlist>
                                                    </label>
                                                </div>
                                            </section>

                                        </div>

                                    </div>
                                </div>

                                <div class="padding-10">

                                    <div>
                                        <fieldset>
                                        <legend>Subscriptores</legend>
                                            <div class="smart-form">
                                                <div class="row">
                                                    <section class="col col-md-3">
                                                        <label>Empleado</label>
                                                        <div>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-search"></i>
                                                                <ng2-completer [(ngModel)]="reporteMarcacion.nombreEmpleado"
                                                                               [dataService]="dataServiceEmpleado"
                                                                               [minSearchLength]="0"
                                                                               (selected)="selectEmpleado($event)">
                                                                </ng2-completer>
                                                            </label>
                                                        </div>
                                                    </section>
                                                    <section class="col col-md-1">
                                                        <label></label>
                                                        <div>
                                                            <button (click)="onAgregarSubscriptor($event)" class="btn btn-default" *ngIf="isAuthorized('Editar')">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-md-6">
                                                        <kendo-grid [data]="view">
                                                            <kendo-grid-column field="idSubscriptor" title=" " width="40px" *ngIf="isAuthorized('Editar')">
                                                                <template kendoGridCellTemplate let-dataItem>
                                                                    <div class="text-center">
                                                                        <a href="javascript:void(0)" class="link" (click)="onDelete(dataItem)">
                                                                            <span class="fa fa-trash-o"></span></a>
                                                                    </div>

                                                                </template>
                                                            </kendo-grid-column>
                                                            <kendo-grid-column field="nombreEmpleado" title="Empleado"></kendo-grid-column>
                                                        </kendo-grid>
                                                    </section>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="padding-10">
                                    <div class="bottom-bar">
                                        <button (click)="onGuardarReporteMarcaciones()" class="btn btn-primary" *ngIf="isAuthorized('Editar')"> Guardar</button>
                                    </div>

                                </div>


                            </div>

            </div>
        </div>

</div>
