<div id="content" class="search-view">

    <p-growl [value]="msgs"></p-growl>

    <div class="row">
        <div class="page-header">
            <sa-big-breadcrumbs [items]="['Consulta de Usuarios']" icon="group"></sa-big-breadcrumbs>
        </div>
    </div>

    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                    <!-- widget div-->
                   <div class="smart-form" >
                                <kendo-tabstrip>
                                    <kendo-tabstrip-tab [title]="'B&uacute;squeda R&aacute;pida'" [selected]="true">
                                        <template kendoTabContent>

                                            <div class="row">
                                                <div class="col col-6">
                                                    <label>Buscar por</label>
                                                    <label class="input">
                                                        <input type="text" [(ngModel)]="quickFilter.value"
                                                               placeholder="Cuenta de Usuario, Nombres, Apellido Paterno y/o Apellido Materno"
                                                               (keypress)="validaEnter($event)">
                                                    </label>
                                                </div>
                                                <div class="col col-6">
                                                    <label class="label-dummy">&nbsp;</label>
                                                    <button type="submit" class="btn btn-lg btn-primary" (click)="onQuickSearck()">
                                                        Buscar
                                                    </button>
                                                </div>
                                            </div>


                                        </template>
                                    </kendo-tabstrip-tab>
                                    <kendo-tabstrip-tab [title]="'B&uacute;squeda Avanzada'">
                                        <template kendoTabContent>
                                            <div class="row">
                                                    <section class="col col-3">
                                                        <label>Nombre de Usuario</label>
                                                        <label class="input">
                                                            <input type="text"  [(ngModel)]="usuarioFilter.cuentaUsuario" (keypress)="validaEnter($event)"/>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label>Correo Electronico</label>
                                                        <label class="input">
                                                            <input type="text"  [(ngModel)]="usuarioFilter.email" (keypress)="validaEnter($event)"/>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label>Estado</label>
                                                        <label class="input">
                                                            <kendo-dropdownlist
                                                                    [data]="estados"
                                                                    [defaultItem]="defaultItemEstados"
                                                                    [textField]="'nombre'"
                                                                    [valueField]="'codigo'"
                                                                    style="width: 100%;"
                                                                    [(ngModel)]="estadosSelect"
                                                                    [value]="estadosSelect"
                                                            >
                                                            </kendo-dropdownlist>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label>Nombres</label>
                                                        <label class="input">
                                                            <input type="text"  [(ngModel)]="usuarioFilter.nombre" (keypress)="validaEnter($event)"/>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label>Apellido Paterno</label>
                                                        <label class="input">
                                                            <input type="text"  [(ngModel)]="usuarioFilter.apellidoPaterno" (keypress)="validaEnter($event)"/>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label>Apellido Materno</label>
                                                        <label class="input">
                                                            <input type="text"  [(ngModel)]="usuarioFilter.apellidoMaterno" (keypress)="validaEnter($event)"/>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label>Empleado</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-search"></i>
                                                            <ng2-completer [(ngModel)]="usuarioFilter.nombreEmpleado" [dataService]="dataServiceEmpleado"
                                                                           [minSearchLength]="0" (selected)="selectEmpleado($event)"></ng2-completer>
                                                        </label>
                                                    </section>
                                             </div>
                                            <div class="search-bar">
                                                <button type="button" class="btn btn-lg btn-default" (click)="onLimpiar()">
                                                    Limpiar
                                                </button>
                                                <button type="submit" class="btn btn-lg btn-primary" (click)="onSubmit()">Buscar
                                                </button>
                                            </div>
                                        </template>
                                    </kendo-tabstrip-tab>
                                </kendo-tabstrip>

                            </div> <!-- end form -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </sa-widgets-grid>

    <!-- START 2DO - widget grid -->
    <sa-widgets-grid>

        <!-- START ROW -->
        <div class="row">


            <!-- NEW COL START -->
            <article class="col-sm-12">

                <sa-widget [colorbutton]="false" [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false"
                           [sortable]="false" [deletebutton]="false" [togglebutton]="false" >

                    <header>

                        <h2>Resultados {{usuarioResult.length}}</h2>

                    </header>
                    <div class="widget-body">
                        <fieldset>
                            <div class="action-bar">
                                <button (click)="onAgregarUsuario()" class="btn btn-primary" *ngIf="isAuthorized('Agregar')">
                                    <!--i class="fa fa-plus"></i-->
                                    Agregar
                                </button>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div [ngBusy]="{busy: busy, minDuration:1000}"></div>

                            <kendo-grid
                                    [data]="gridView"
                                    [pageSize]="pageSize"
                                    [skip]="skip"
                                    [pageable]="true"
                                    (pageChange)="pageChange($event)"
                            >
                                <kendo-grid-column field="idEdit" title=" " [width]="40" *ngIf="isAuthorized('Editar')">
                                    <template kendoGridCellTemplate let-dataItem>
                                        <div class="text-center">
                                            <a href="javascript:void(0)" class="link" (click)="onEdit(dataItem)">
                                                <span class="fa fa-pencil"></span></a>
                                        </div>
                                    </template>
                                </kendo-grid-column>

                                <kendo-grid-column field="idDelete" title=" " [width]="40" *ngIf="isAuthorized('Eliminar')">
                                    <template kendoGridCellTemplate let-dataItem>
                                        <div class="text-center">
                                            <a href="javascript:void(0)" class="link" (click)="confirm(dataItem)">
                                                <span class="fa fa-trash"></span></a>
                                        </div>

                                    </template>
                                </kendo-grid-column>

                                <kendo-grid-column field="cuentaUsuario" title="Nombre de Usuario" [width]="200"></kendo-grid-column>
                                <kendo-grid-column field="nombre" title="Nombre" [width]="140"></kendo-grid-column>
                                <kendo-grid-column field="apellidoPaterno" title="Apellido Paterno" [width]="140"></kendo-grid-column>
                                <kendo-grid-column field="apellidoPaterno" title="Apellido Materno" [width]="140"></kendo-grid-column>
                                <kendo-grid-column field="email" title="Correo Electronico" [width]="140"></kendo-grid-column>
                                <kendo-grid-column field="esEmpleado" title="¿Empleado?" [width]="140"></kendo-grid-column>
                                <kendo-grid-column field="estado" title="Estado" [width]="140"></kendo-grid-column>
                            </kendo-grid>
                            <confirm-dialog-form [model]="dataItem"  (accept)="onDelete($event)"></confirm-dialog-form>

                        </fieldset>
                    </div>
                </sa-widget>

            </article>
            <!-- END COL -->

        </div>



    </sa-widgets-grid>

</div>