<div id="content">

	<div class="row">
		<div class="page-header">
			<div class="btn-back" (click)="onRegresarBusquedaCompensacion()"><i class="ic-arrow-back"></i></div>
			<sa-big-breadcrumbs [items]="['Recuperar Horas ']" icon="group"></sa-big-breadcrumbs>
		</div>

	<p-growl [value]="msgs"></p-growl>

			<div class="col-lg-12">
							<div class="well well-sm well-light">

								<div class="padding-10">

								<div>
									<fieldset>
										<legend>Datos</legend>

										<div class="smart-form">


											<div class="row">
												<section class="col col-md-4">
													<label>Fecha</label>
													<label class="input">
														<i class="icon-append fa fa-calendar"></i>
														<input type="text" name="fechaPermiso" id="fechaPermiso" saUiDatepicker date-format="dd/MM/yy" [(ngModel)]="horasExtra.fecha" (change)="onChangeFecha($event)"
															   placeholder="Seleccionar una Fecha"/>
														<!--p-calendar [(ngModel)]="fecha" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar-->

													</label>
												</section>

												<section class="col col-md-2">
													<label>Hora Inicio (hh:mm)</label>
													<label class="input">
														<p-inputMask mask="99:99" placeholder="00:00" id="horaInicio" [(ngModel)]="horasExtra.horaSalidaHorario"></p-inputMask>
													</label>
												</section>

												<section class="col col-md-2">
													<label>Hora Fin (hh:mm)</label>
													<label class="input">
														<p-inputMask mask="99:99" placeholder="00:00" id="horaFin" [(ngModel)]="horasExtra.horaSalidaSolicitado"></p-inputMask>
													</label>
												</section>

											</div>

											<div class="row">
												<section class="col col-md-8">
													<label>Motivo</label>
													<label class="input">
														<input type="text" [(ngModel)]="horasExtra.motivo"/>
													</label>
												</section>

											</div>

										</div>
									</fieldset>

								</div>

							</div>
							<div class="padding-10" style="padding-top:20px!important">

								<div>

									<legend>Informacion Adicional</legend>
									<div class="smart-form">


										<div class="row">
											<section class="col col-md-4">
												<label>Mes</label>
												<label class="input state-disabled">
													<input type="text" [(ngModel)]="compensacion.mes" disabled="disabled"/>
												</label>
											</section>

											<section class="col col-md-4">
												<label>Horas Pendientes</label>
												<label class="input state-disabled">
													<input type="text" [(ngModel)]="compensacion.horasPendientesTotal" disabled="disabled"/>
												</label>
											</section>


										</div>


									</div>

								</div>
							</div>

								<div class="padding-10">
									<div class="bottom-bar">
										<button (click)="onRegistrarRecuperacionHoras()" class="btn btn-primary btn-lg" *ngIf="isAuthorized('Editar')"> Guardar</button>
									</div>

								</div>

						</div>


			</div>
			<!-- END COL -->
		</div>



</div>
