<div id="content">
	<div class="row">

		<div class="page-header">
			<div class="btn-back" (click)="onRegresarBusquedaProyecto()"><i class="ic-arrow-back"></i></div>
			<sa-big-breadcrumbs [items]="['Proyecto ']" icon="group"></sa-big-breadcrumbs>
		</div>

		<p-growl [value]="msgs"></p-growl>

			<div class="col-lg-12">

							<div class="well well-sm well-light">

								<div class="padding-10">

								<div>
									<fieldset>
										<legend>Datos</legend>

										<div class="smart-form">

											<div class="row">

												<section class="col col-md-4">
													<label>Unidad de negocio</label><span style="color: red">*</span>
													<label class="input">
														<kendo-dropdownlist
																[data]="undnegocios"
																[textField]="'nombre'"
																[valueField]="'idUnidadDeNegocio'"
																[defaultItem]="defaultItemUnd"
																[valuePrimitive]="true"
																[(ngModel)]="proyecto.idUnidadDeNegocio"
																[value] = "proyecto.idUnidadDeNegocio"
																(selectionChange)="actualizarDpto($event)"
																[disabled]="!isAuthorized('Editar')"
																style="width: 100%;"
																id="unidadNegocio"
														>
														</kendo-dropdownlist>
													</label>
												</section>

												<section class="col col-md-4">
													<label>Departamento</label><span style="color: red">*</span>
													<label class="input">
														<kendo-dropdownlist
																[data]="departamentos"
																[textField]="'nombre'"
																[valueField]="'idDepartamentoArea'"
																[valuePrimitive]="true"
																[(ngModel)]="proyecto.idDepartamentoArea"
																[defaultItem]="defaultItemDepartamento"
																[value] = "proyecto.idDepartamentoArea"
																[disabled]="!isAuthorized('Editar')"
																style="width: 100%;"
																id="departamentoArea"

														>
														</kendo-dropdownlist>
													</label>
												</section>

												<section class="col col-md-4">
													<label>Estado</label><span style="color: red">*</span>
													<label class="input">
														<kendo-dropdownlist
																[data]="estados"
																[textField]="'nombre'"
																[valueField]="'codigo'"
																[valuePrimitive]="true"
																[defaultItem]="defaultItemEstado"
																[(ngModel)]="proyecto.estado"
																[value] = "proyecto.estado"
																[disabled]="!isAuthorized('Editar')"
																style="width: 100%;"
																id="estado"

														>
														</kendo-dropdownlist>
													</label>
												</section>
											</div>

											<div class="row">
												<section class="col col-md-8">
													<label>Nombre</label><span style="color: red">*</span>
													<label [ngClass]="getEditableClass('Editar')">
														<input type="text" [(ngModel)]="proyecto.nombre" [disabled]="!isAuthorized('Editar')" id="nombre" (keyup)="ingresaNombre()"/>
													</label>
												</section>

												<section class="col col-md-4">
													<label>Codigo</label><span style="color: red">*</span>
													<label [ngClass]="getEditableClass('Editar')">
														<input type="text" [(ngModel)]="proyecto.codigo" [disabled]="!isAuthorized('Editar')" id="codigo" (keyup)="ingresaCodigo()"/>
													</label>
												</section>

											</div>

											<div class="row">
												<section class="col col-md-4">
													<label>Cliente</label><span style="color: red">*</span>
													<label [ngClass]="getEditableClass('Editar')">
														<input type="text" [(ngModel)]="proyecto.cliente" [disabled]="!isAuthorized('Editar')" id="cliente" (keyup)="ingresaCliente()"/>
													</label>
												</section>

												<section class="col col-md-4">
													<label>Fecha Inicio</label><span style="color: red">*</span>
													<label [ngClass]="getEditableClass('Editar')">
														<i class="icon-append fa fa-calendar"></i>
														<input type="text" saUiDatepicker date-format="dd/MM/yy" placeholder="Seleccionar una Fecha" id="fechaInicio" [(ngModel)]="proyecto.fechaInicio" (change)="onChangeFechaInicio($event)"
															   [disabled]="!isAuthorized('Editar')" id="fechaInicio"/>
													</label>
												</section>

												<section class="col col-md-4">
													<label>FechaFin</label>
													<label [ngClass]="getEditableClass('Editar')">
														<i class="icon-append fa fa-calendar"></i>
														<input type="text" saUiDatepicker date-format="dd/MM/yy" placeholder="Seleccionar una Fecha" [(ngModel)]="proyecto.fechaFin" (change)="onChangeFechaFin($event)"
															   [disabled]="!isAuthorized('Editar')"/>
													</label>
												</section>

											</div>

											<div class="row">

												<section class="col col-md-12">
													<label>Descripcion</label>
													<label class="textarea">
														<textarea [(ngModel)]="proyecto.descripcion" [disabled]="!isAuthorized('Editar')"></textarea>
													</label>
												</section>

											</div>

										</div>
									</fieldset>

								</div>

							</div>

							<div class="padding-10">

								<div>

									<legend>Jefatura</legend>
									<div class="widget-body">

										<fieldset>
											<div class="smart-form">

												<div class="row">
													<section class="col col-md-4">
														<label>Jefe</label><span style="color: red">*</span>
														<label [ngClass]="getEditableClass('Editar')">
															<i class="icon-append fa fa-search"></i>
															<ng2-completer [(ngModel)]="proyecto.nombreJefeProyecto" [dataService]="dataServiceJefeProyecto" [minSearchLength]="0" (selected)="selectJefeProyecto($event)" id="jefe" (keyup)="validateFilterEmptyJefe($event)"></ng2-completer>
														</label>
													</section>

													<section class="col col-md-4">
														<label>Jefe No Disponible</label>
														<label class="select">
															<input type="checkbox" [(ngModel)]="proyecto.jefeNoDisponible" [disabled]="!isAuthorized('Editar')">
														</label>
													</section>

													<section class="col col-md-4">
														<label>Jefe Reemplazo</label>
														<label [ngClass]="getEditableClass('Editar')">
															<i class="icon-append fa fa-search"></i>
															<ng2-completer [(ngModel)]="proyecto.nombreJefeProyectoReemplazo" [dataService]="dataServiceJefeProyectoReempleazo" [minSearchLength]="0" (selected)="selectJefeProyectoReemplazo($event)" (keyup)="validateFilterEmptyJefeReemplazo($event)"></ng2-completer>
														</label>
													</section>

												</div>

											</div>
										</fieldset>
									</div>

								</div>
							</div>

								<div class="padding-10">
									<div class="bottom-bar">
										<button (click)="onRegistrarProyecto()" class="btn btn-primary" *ngIf="isAuthorized('Editar')"> Guardar</button>
									</div>

								</div>


						</div>

			</div>
		</div>

</div>
