<div id="content">
    <p-growl [value]="msgs"></p-growl>
    <div class="row">
        <div class="page-header">
            <sa-big-breadcrumbs [items]="['Consulta de Reporte de Marcaciones']" icon="group"></sa-big-breadcrumbs>
        </div>
    </div>
    <!-- widget grid -->
    <sa-widgets-grid>
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="smart-form" >
                    <kendo-tabstrip>
                        <kendo-tabstrip-tab [title]="'Busqueda'" [selected]="true">
                            <template kendoTabContent>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label>Tipo de Reporte</label>
                                            <label class="input">
                                                <kendo-dropdownlist
                                                        [data]="tipoReporte"
                                                        [defaultItem]="defaultItemTipoReporteMarcacion"
                                                        [textField]="'nombre'"
                                                        [valueField]="'codigo'"
                                                        style="width: 100%;"
                                                        [(ngModel)]="marcacionFilter.tipoReporte"
                                                        [value]="marcacionFilter.tipoReporte"
                                                        [valuePrimitive]="true"
                                                >

                                                </kendo-dropdownlist>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label>Estado</label>
                                            <label class="input">
                                                <kendo-dropdownlist
                                                        [data]="estados"
                                                        [defaultItem]="defaultItemEstados"
                                                        [textField]="'nombre'"
                                                        [valueField]="'codigo'"
                                                        style="width: 100%;"
                                                        [(ngModel)]="marcacionFilter.estado"
                                                        [value]="marcacionFilter.estado"
                                                        [valuePrimitive]="true"
                                                >

                                                </kendo-dropdownlist>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label>Subscriptor</label>
                                            <label class="input">
                                                <i class="icon-append fa fa-search"></i>
                                                <ng2-completer [(ngModel)]="marcacionFilter.subscriptor" [dataService]="dataServiceEmpleado" [minSearchLength]="0" (selected)="selectEmpleado($event)"></ng2-completer>
                                            </label>
                                        </section>
                                    </div>
                                <div class="search-bar">
                                    <button type="button" class="btn btn-lg btn-default" (click)="onLimpiar()">
                                        Limpiar
                                    </button>
                                    <button type="submit" class="btn btn-lg btn-primary" (click)="onSubmit()">Buscar
                                    </button>
                                </div>
                            </template>
                        </kendo-tabstrip-tab>
                    </kendo-tabstrip>
                </div> <!-- end form -->
            </article>
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </sa-widgets-grid>

    <!-- START 2DO - widget grid -->
    <sa-widgets-grid>

        <!-- START ROW -->
        <div class="row">


            <!-- NEW COL START -->
            <article class="col-sm-12">

                <sa-widget [colorbutton]="false" [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false"
                           [sortable]="false" [deletebutton]="false" [togglebutton]="false">

                    <header>

                        <h2>Resultados {{marcacionResult.length}}</h2>

                    </header>
                    <div class="widget-body">
                        <fieldset>
                            <div class="action-bar">

                                <button (click)="onAgregarNuevoReporteMarcacion()" class="btn btn-primary" *ngIf="isAuthorized('Agregar')">
                                    Agregar
                                </button>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div [ngBusy]="{busy: busy, minDuration:1000}"></div>

                            <kendo-grid
                                    [data]="gridView"
                                    [pageSize]="pageSize"
                                    [skip]="skip"
                                    [pageable]="true"
                                    (pageChange)="pageChange($event)"
                            >


                                <kendo-grid-column field="idEdit" title=" " [width]="40" *ngIf="isAuthorized('Editar')">
                                    <template kendoGridCellTemplate let-dataItem>
                                        <div class="text-center">
                                            <a href="javascript:void(0)" class="link" (click)="onEdit(dataItem)">
                                                <span class="fa fa-pencil"></span></a>
                                        </div>
                                    </template>
                                </kendo-grid-column>

                                <kendo-grid-column field="idEdit" title=" " [width]="40" *ngIf="!isAuthorized('Editar')">
                                    <template kendoGridCellTemplate let-dataItem>
                                        <div class="text-center">
                                            <a href="javascript:void(0)" class="link" (click)="onEdit(dataItem)">
                                                <span class="fa fa-eye"></span></a>
                                        </div>
                                    </template>
                                </kendo-grid-column>

                                <kendo-grid-column field="idDelete" title=" " [width]="40" *ngIf="isAuthorized('Eliminar')">
                                    <template kendoGridCellTemplate let-dataItem>
                                        <div class="text-center">
                                            <a href="javascript:void(0)" class="link" (click)="confirm(dataItem)">
                                                <span class="fa fa-trash"></span></a>
                                        </div>

                                    </template>
                                </kendo-grid-column>

                                <kendo-grid-column field="nombreUnidadNegocio" title="Unidad de Negocio" [width]="250"></kendo-grid-column>
                                <kendo-grid-column field="nombreDepartamento" title="Departamento" [width]="200"></kendo-grid-column>
                                <kendo-grid-column field="nombreProyecto" title="Proyecto" [width]="170"></kendo-grid-column>
                                <kendo-grid-column field="jefeInmediato" title="Jefe" [width]="220"></kendo-grid-column>
                                <kendo-grid-column field="estado" title="Estado" [width]="200"></kendo-grid-column>

                            </kendo-grid>
                            <confirm-dialog-form [model]="dataItem"  (accept)="onDelete($event)"></confirm-dialog-form>

                        </fieldset>
                    </div>
                </sa-widget>

            </article>
            <!-- END COL -->

        </div>



    </sa-widgets-grid>

</div>