<div id="content" class="search-view">
    <p-growl [value]="msgs"></p-growl>

    <div class="row">
        <div class="page-header">
            <sa-big-breadcrumbs [items]="['Consulta de Compensaciones']" icon="group"></sa-big-breadcrumbs>
        </div>
    </div>

    <!-- widget grid -->
    <sa-widgets-grid>

        <!-- START ROW -->
        <div class="row">



            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                            <div class="smart-form" >
                                <kendo-tabstrip>
                                    <kendo-tabstrip-tab [title]="'B&uacute;squeda R&aacute;pida'" [selected]="true">
                                        <template kendoTabContent>

                                            <div class="row">
                                                <div class="col col-6">
                                                    <label>Buscar por</label>
                                                    <label class="input">
                                                        <input type="text" [(ngModel)]="quickFilter.value" placeholder="Nombres, Apellido Paterno y/o Apellido Materno" (keypress)="validaEnter($event)">
                                                    </label>
                                                </div>

                                                <div class="col col-6">
                                                    <label class="label-dummy">&nbsp;</label>
                                                    <button type="submit" class="btn btn-lg btn-primary" (click)="onQuickSearck()">
                                                        Buscar
                                                    </button>
                                                </div>
                                            </div>
                                        </template>
                                    </kendo-tabstrip-tab>
                                    <kendo-tabstrip-tab [title]="'B&uacute;squeda Avanzada'">
                                        <template kendoTabContent>
                                                <div class="row">

                                                    <section class="col col-4">
                                                        <label>Unidad de negocio</label>
                                                        <label class="input">
                                                            <kendo-dropdownlist
                                                                    [data]="undnegocios"
                                                                    [textField]="'nombre'"
                                                                    [valueField]="'idUnidadDeNegocio'"
                                                                    [valuePrimitive]="true"
                                                                    [(ngModel)]="busquedaCompensacion.idUnidadDeNegocio"
                                                                    [defaultItem]="defaultItem"
                                                                    (selectionChange)="actualizarDpto($event)"
                                                                    [value] = "busquedaCompensacion.idUnidadDeNegocio"
                                                                    style="width: 100%;"
                                                            >
                                                            </kendo-dropdownlist>
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label>Departamento</label>
                                                        <label class="input">
                                                            <kendo-dropdownlist
                                                                    [data]="departamentos"
                                                                    [textField]="'nombre'"
                                                                    [valueField]="'idDepartamentoArea'"
                                                                    [valuePrimitive]="true"
                                                                    [(ngModel)]="busquedaCompensacion.idDepartamentoArea"
                                                                    [defaultItem]="defaultItemDepartamento"
                                                                    [value] = "busquedaCompensacion.idDepartamentoArea"
                                                                    (selectionChange)="actualizarProyecto($event)"
                                                                    style="width: 100%;"

                                                            >
                                                            </kendo-dropdownlist>
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label>Proyecto</label>
                                                        <label class="input">
                                                            <kendo-dropdownlist
                                                                    [data]="proyectos"
                                                                    [textField]="'nombre'"
                                                                    [valueField]="'idProyecto'"
                                                                    [valuePrimitive]="true"
                                                                    [defaultItem]="defaultItemProyecto"
                                                                    [(ngModel)]="busquedaCompensacion.idProyecto"
                                                                    [value] = "busquedaCompensacion.idProyecto"
                                                                    style="width: 100%;"

                                                            >
                                                            </kendo-dropdownlist>
                                                        </label>
                                                    </section>

                                                </div>


                                                <div class="row">

                                                    <section class="col col-4">
                                                        <label>Empleado</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-search"></i>
                                                            <ng2-completer [(ngModel)]="busquedaCompensacion.empleado" [dataService]="dataServiceEmpleado" [minSearchLength]="0" (selected)="selectEmpleado($event)" (keyup)="validateFilterEmptyEmpleado($event)"></ng2-completer>
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label>Jefe Inmediato</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-search"></i>
                                                            <ng2-completer [(ngModel)]="busquedaCompensacion.jefeInmediato" [dataService]="dataServiceJefeInmediato" [minSearchLength]="0" (selected)="selectJefeInmediato($event)" (keyup)="validateFilterEmptyJefeInmediato($event)"></ng2-completer>
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label>Horas Por compensar</label>
                                                        <label class="input">
                                                            <input type="text" />
                                                        </label>
                                                    </section>

                                                </div>

                                                <div class="row">

                                                    <section class="col col-4">
                                                        <label>Mes</label>
                                                        <label class="input">
                                                            <kendo-dropdownlist
                                                                    [data]="meses"
                                                                    [defaultItem]="defaultItemMes"
                                                                    [textField]="'nombre'"
                                                                    [valueField]="'mes'"
                                                                    style="width: 100%;"
                                                                    [valuePrimitive]="true"
                                                                    [(ngModel)]="busquedaCompensacion.mes"
                                                                    [value]="busquedaCompensacion.mes"
                                                            >
                                                            </kendo-dropdownlist>
                                                        </label>
                                                    </section>
                                                </div>
                                            <div class="search-bar">
                                                <button type="button" class="btn btn-lg btn-default" (click)="onLimpiar()">
                                                    Limpiar
                                                </button>
                                                <button type="submit" class="btn btn-lg btn-primary" (click)="onSubmit()">Buscar
                                                </button>
                                            </div>
                                        </template>
                                    </kendo-tabstrip-tab>
                                </kendo-tabstrip>

                            </div>



            </article>

        </div>

        <!-- END ROW -->

    </sa-widgets-grid>

    <!-- widget grid -->
    <sa-widgets-grid>

        <!-- START ROW -->
        <div class="row">

            <alert *ngIf="noItems" type="info" dismissible="true">
                <i class="fa-fw fa fa-info"></i>
                <strong>Info!</strong> No hay información para exportar.
            </alert>

            <!-- NEW COL START -->
            <article class="col-sm-12">

                <sa-widget [colorbutton]="false" [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false"
                           [sortable]="false" [deletebutton]="false" >

                    <header>


                        <h2>Resultados {{compensaciones.length}}</h2>

                    </header>
                    <div class="widget-body">

                    <fieldset>
                            <div class="col-12 text-right padding-bottom-10">

                                <button (click)="(null)" class="btn btn-default"><i class="fa fa-file-excel-o"></i>
                                    Exportar
                                </button>
                            </div>
                    </fieldset>

                    <fieldset>

                        <div [ngBusy]="{busy: busy, minDuration:1000}"></div>
                        <kendo-grid
                                [data]="gridView"
                                [pageSize]="pageSize"
                                [skip]="skip"
                                [pageable]="true"
                                (pageChange)="pageChangeCompensaciones($event)"
                        >

                            <kendo-grid-column field="idEmpleadoCompensacion" title=" " width="40">
                                <template kendoGridCellTemplate let-dataItem>
                                    <div class="text-center">
                                        <a href="javascript:void(0)" class="link" (click)="onView(dataItem)">
                                            <span class="fa fa-eye"></span></a>
                                    </div>
                                </template>
                            </kendo-grid-column>

                            <kendo-grid-column field="idEmpleadoCompensacion" title=" " width="40">
                                <template kendoGridCellTemplate let-dataItem>
                                    <div class="text-center">
                                        <a href="javascript:void(0)" class="link" (click)="onRecuperar(dataItem)">
                                            <span class="fa fa-pencil"></span></a>
                                    </div>
                                </template>
                            </kendo-grid-column>

                            <kendo-grid-column field="empleado" title="Empleado" [width]="200"></kendo-grid-column>
                            <kendo-grid-column field="mes" title="Mes" [width]="100"></kendo-grid-column>
                            <kendo-grid-column field="horasTardanzaIngreso" title="Horas Tardanza ingreso" [width]="100"></kendo-grid-column>
                            <kendo-grid-column field="horasTardanzaSalida" title="Horas Tardanza Salida" [width]="100"></kendo-grid-column>
                            <kendo-grid-column field="horasDemoraAlmuerzo" title="Horas tardanza Almuerzo" [width]="100"></kendo-grid-column>
                            <kendo-grid-column field="horasTrabajadas" title="Horas trabajadas" [width]="100"></kendo-grid-column>
                            <kendo-grid-column field="horarioHorasTrabajo" title="Horas Horario" [width]="100"></kendo-grid-column>

                            <kendo-grid-column field="vacaciones" title="Vacaciones" [width]="100"></kendo-grid-column>
                            <kendo-grid-column field="licencias" title="Licencias" [width]="100"></kendo-grid-column>
                            <kendo-grid-column field="inasistencias" title="Inasistencias" [width]="100"></kendo-grid-column>
                            <kendo-grid-column field="horasPendientesTotal" title="Horas Pendientes" [width]="100"></kendo-grid-column>
                        </kendo-grid>


                    </fieldset>
                    </div>
                </sa-widget>

            </article>
            <!-- END COL -->

        </div>



    </sa-widgets-grid>
</div>