<header id="header" class="animated fadeInDown">

    <div id="logo-group">
        <span id="logo"> <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
    </div>


</header>
<div id="main" role="main" class="animated fadeInDown">

    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                <div class="hero">
                    <div class="pull-left login-desc-box-l">
                        <h4 class="paragraph-header">
                            Se ha realizado satisfactoriamente el cambio de contraseña, vuelva a ingresar
                        </h4>

                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                        <div class="note">

                        </div>
                        <button [disabled]="loading" class="btn btn-primary" (click)="inicio()">
                            Volver a pagina de inicio
                        </button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
