<header id="header" class="animated fadeInDown">

    <div id="logo-group">
        <span id="logo"> <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
    </div>

    <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a routerLink="/auth/register" class="btn btn-danger">Create account</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown">
    <simple-notifications [options]="options"></simple-notifications>
    <div id="content" class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="well no-padding">
                    <form  class="smart-form client-form" (ngSubmit)="f.form.valid && resetpassword()" #f="ngForm" novalidate>
                        <header>
                            Recuperacion de contraseña
                        </header>
                        <fieldset>
                            <section>
                                <label class="label">Nueva Contraseña</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input  type="password" name="password"  [(ngModel)]="model.password"   data-smart-validate-input="" data-required=""  data-message-required="Por favor, ingrese su contraseña" >
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                                        Por favor, ingrese su nueva contraseña</b></label>
                            </section>
                            <section>
                                <label class="label">Confirmar Nueva Contraseña</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input  type="password" name="confirmpassword"  [(ngModel)]="model.confirmPassword"   data-smart-validate-input="" data-required=""  data-message-required="Por favor, confirme su contraseña" >
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                                        Por favor, vuelva a escribir su contraseña</b></label>
                            </section>


                        </fieldset>
                        <footer>
                            <button [disabled]="loading" class="btn btn-primary">
                                Enviar
                            </button>
                            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                        </footer>
                    </form>
                </div>
                <!--h5 class="text-center"> - Or sign in using -</h5>
                <ul class="list-inline text-center">
                    <li>
                        <a (click)="(null)" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a (click)="(null)" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a (click)="(null)" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul-->
            </div>
        </div>
    </div>
</div>
