<div id="content">

    <div class="row">

        <div class="page-header">
            <div class="btn-back" (click)="onRegresarVerEmpleado()"><i class="ic-arrow-back"></i></div>
            <sa-big-breadcrumbs [items]="['Dar de baja a empleado ']" icon="group"></sa-big-breadcrumbs>
        </div>


        <div class="col-lg-12">
            <div class="resume-panel">
                <div>
                    <div class="resume-info">
                        <div class="user-image">
                            <i class="ic-person" id="iconPerson"></i>
                            <img [src]="fotoEmpleado" style="display: none;" id="fotoEmpleado">
                        </div>
                        <div class="user-info">
                            <div>
                                <span>{{nombreCompletoEmpleado}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


            <div class="col-lg-12">

                <div class="well well-sm well-light">


                    <div class="padding-10">

                        <div >

                            <fieldset>

                                <legend>Datos</legend>

                                <div class="smart-form">

                                    <div class="row">

                                        <section class="col col-4">
                                            <label>Fecha de renuncia<span style="color: red">*</span></label>
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" [(ngModel)]="empleadoDarBaja.fechaRenuncia" (change)="onChangeFechaRenuncia($event)"
                                                       saUiDatepicker date-format="dd/mm/yy" />
                                            </label>
                                        </section>

                                        <section class="col col-4">
                                            <label>Último día de trabajo<span style="color: red">*</span></label>
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" [(ngModel)]="empleadoDarBaja.fechaCese" (change)="onChangeFechaCese($event)"
                                                       saUiDatepicker date-format="dd/mm/yy" />
                                            </label>
                                        </section>

                                        <section class="col col-3">
                                            <label>Motivo<span style="color: red">*</span></label>
                                            <label class="input">
                                                <kendo-dropdownlist
                                                        [data]="motivoRenuncia"
                                                        [defaultItem]="defaultItemTablaGeneral"
                                                        [textField]="'nombre'"
                                                        [valueField]="'codigo'"
                                                        style="width: 100%;"
                                                        [(ngModel)]="motivoRenunciaSelect"
                                                        [value]="motivoRenunciaSelect"
                                                >

                                                </kendo-dropdownlist>
                                            </label>
                                        </section>

                                    </div>


                                    <div class="row">

                                        <section class="col col-md-12">
                                            <label>Encuesta de salida</label>
                                            <label class="input">

                                                <kendo-upload
                                                        [saveUrl]="uploadSaveUrl"
                                                        [removeUrl]="uploadRemoveUrl"
                                                        [multiple]="false"
                                                        [restrictions]="uploadValidation"
                                                        [localization]="uploadLocalization"
                                                        (success)="onSuccessUpload($event)"></kendo-upload>

                                            </label>
                                        </section>

                                    </div>


                                </div>

                            </fieldset> <!-- end form -->
                            <!-- Dialog-->
                            <!--div id="dialog-message" title="Advertencia">
                                <p>
                                    {{mensaje}}
                                </p>
                            </div-->
                            <!-- End dialog -->

                        </div>
                        <!-- end widget content -->

                    </div>

                    <div class="padding-10">
                        <div class="bottom-bar">
                            <a (click)="onRegistrarDarBajaEmpleado($event)" class="btn btn-primary btn-lg"> Guardar</a>
                        </div>

                    </div>


                </div>

                <!-- end widget -->


            </div>
            <!-- END COL -->


        <!-- END ROW -->

    </div>

    <!-- widget grid -->
    <sa-widgets-grid *ngIf="showWidget === true">

        <!-- START ROW -->
        <div class="row">


            <!-- NEW COL START -->
            <article class="col-sm-12">

                <sa-widget [colorbutton]="false" [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false"
                           [sortable]="false" [deletebutton]="false">

                    <header>
                        <h2>Equipos pendientes de devolución </h2>
                    </header>

                    <div class="widget-body">

                    <fieldset>


                        <kendo-grid [data]="equiposPendientesDevo">
                            <kendo-grid-column field="idEdit" title=" " [width]="40" *ngIf="localStorageValue.mostrarBoton === true">

                                <template kendoGridCellTemplate let-dataItem>
                                    <div class="text-center">
                                        <a href="javascript:void(0)" class="link" (click)="onEdit(dataItem)">
                                            <span class="fa fa-pencil"></span></a>
                                    </div>
                                </template>
                            </kendo-grid-column>

                            <kendo-grid-column field="tipoEquipo" title="Tipo de equipo" [width]="70"></kendo-grid-column>
                            <kendo-grid-column field="descripcion" title="Descripción" [width]="200"></kendo-grid-column>
                            <kendo-grid-column field="fechaEntrega" title="Fecha entrega" [width]="140"></kendo-grid-column>
                            <kendo-grid-column field="fechaDevolucion" title="Fecha devolución" [width]="100"></kendo-grid-column>
                            <kendo-grid-column field="estado" title="Estado" [width]="100"></kendo-grid-column>
                        </kendo-grid>

                        <equipos-pendientes-messagebox id="messageEq" > </equipos-pendientes-messagebox>
                    </fieldset>
                    </div>
                </sa-widget>

            </article>
            <!-- END COL -->

        </div>

        <kendo-dialog *ngIf="messageActive" (close)="onClose()" >

            <kendo-dialog-titlebar style="background-color: #E5702A;">
               Mensaje
            </kendo-dialog-titlebar>
            <div class="modal-body">
                <div class="smart-form" style="width: 900px;">

                    <div class="row">
                        <section class="col col-md-6">
                            <label class="control-label">El empleado tiene quipos pendientes de entregar</label>
                        </section>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="onCancel($event)"> Ok
                </button>
            </div>
        </kendo-dialog>

    </sa-widgets-grid>
</div>