<div id="content">
	<p-growl [value]="msgs"></p-growl>
	<div class="row">

		<div class="page-header">
			<div class="btn-back" (click)="onRegresarBusquedaVacaciones()"><i class="ic-arrow-back"></i></div>
			<sa-big-breadcrumbs [items]="['Vacaciones ']" icon="group"></sa-big-breadcrumbs>
		</div>

			<div class="col-lg-12">

							<div class="well well-sm well-light">

								<div class="padding-10">

									<div>
										<fieldset>
											<legend>Datos</legend>

											<div class="smart-form">

												<div class="row">

													<section class="col col-md-4">
														<label>Jefe Inmediato</label>
														<label class="input state-disabled" >
															<input type="text" [(ngModel)]="adminVacaciones.nombreJefeInmediato" disabled="disabled"/>
														</label>
													</section>
													<section class="col col-md-2">
														<label>Periodo</label>
														<label class="input state-disabled">
															<input type="text" [(ngModel)]="adminVacacionesPeriodo.periodo" disabled="disabled" />
														</label>

													</section>
                                                    <section class="col col-md-2">
														<label>Dias Disponibles</label>
														<label class="input state-disabled">
															<input type="text" name="diasDisponibles" id="diasDisponibles" [(ngModel)]="diasDisponiblesVacacion.diasVacacionesDisponibles"
																   disabled="disabled" />
														</label>
													</section>
												</div>

												<div class="row">

													<section class="col col-md-4"  >
														<label>Desde<span style="color: red">*</span></label>
														<label class="input state-disabled">
															<i class="icon-append fa fa-calendar"></i>
															<input type="text" name="fechaInicio" id="fechaInicio" saUiDatepicker date-format="dd/MM/yy" 
															placeholder="Seleccionar una Fecha" disabled="disabled"
															[(ngModel)]="adminVacaciones.fechaInicio" (change)="onChangeFechaInicio($event)" readonly="readonly"/>
														</label>
													</section>

													<section class="col col-md-2">
														<label>Dias Calendarios</label>
														<label class="input state-disabled">
															<input type="text" name="diasCalendarios" id="diasCalendarios" [(ngModel)]="adminVacaciones.diasCalendarios"
																   readonly="readonly" disabled="disabled"/>
														</label>
													</section>
													<section class="col col-3">
														<label>Estado</label>
														<label class="input state-disabled">
															<i class="icon-append fa fa-chevron-down"></i>
															<input type="text" name="estado" id="estado" [(ngModel)]="adminVacaciones.estado" disabled="disabled" />
														</label>
													</section>
													
												</div>

												<div class="row">

													<section class="col col-md-4" >
														<label>Hasta<span style="color: red">*</span></label>
														<label  class="input state-disabled">
															<i class="icon-append fa fa-calendar"></i>
															<input type="text" name="fechaFin" id="fechaFin" saUiDatepicker date-format="dd/MM/yy" placeholder="Seleccionar una Fecha"
																   [(ngModel)]="adminVacaciones.fechaFin" (change)="onChangeFechaFin($event)" disabled="disabled" />
														</label>
													</section>

													<section class="col col-md-2">
														<label>Dias Habiles</label>
														<label class="input state-disabled">
															<input type="text" id="diasHabiles" [(ngModel)]="adminVacaciones.diasHabiles" disabled="disabled" />
														</label>
													</section>
													
												</div>

												<div class="row" >
													<!--section class="col col-md-6">
														<label>Comentario del Jefe Inmediato</label>
														<label [ngClass]="getEditableClass('Editar')">
															<input type="text" name="comentarioJefeInmediato" id="comentarioJefeInmediato" [(ngModel)]="adminVacaciones.comentarioJefeInmediato"
																   [disabled]="!isAuthorized('Editar')" />
														</label>
													</section-->
													<section class="col col-md-8">
														<label>Comentario Devolucion/Rechazo</label>
														<label  class="input state-disabled">
															<input type="text" disabled="disabled" name="comentarioJefeInmediato" id="comentarioJefeInmediato" [(ngModel)]="adminVacaciones.comentarioResolucion">
														</label>

													</section>
												</div>

											</div>
											<motivo-rechazovacacion-form [model]="dataItem" id="rechazo" (save)="onRechazarVacacionEmpleado($event)"></motivo-rechazovacacion-form>
											<motivo-devolucionvacacion-form [model]="dataItem" id="devolucion" (save)="onDevolverVacacionEmpleado($event)"></motivo-devolucionvacacion-form>

										</fieldset>

									</div>

								</div>

								<div class="padding-10">
									<div class="bottom-bar">
										<button (click)="cargarMotivoDevolucion()" class="btn btn-primary" *ngIf="isAuthorized('Devolver') && adminVacaciones.estado != 'Pendiente' && adminVacaciones.idAtendidoPor == currentUser.idEmpleado"> Devolver</button>
										<button (click)="onAprobarVacacionEmpleado()" class="btn btn-primary" *ngIf="isAuthorized('Aprobar') && adminVacaciones.estado != 'Pendiente' && adminVacaciones.idAtendidoPor == currentUser.idEmpleado"> Aprobar</button>
										<button (click)="cargarMotivoRechazo()" class="btn btn-primary" *ngIf="isAuthorized('Rechazar') && adminVacaciones.estado != 'Pendiente' && adminVacaciones.idAtendidoPor == currentUser.idEmpleado"> Denegar</button>
									</div>

								</div>

							</div>


			</div>
		</div>



</div>
