<div id="content" class="search-view">

	<p-growl [value]="msgs"></p-growl>

	<div class="row">
		<div class="page-header">
			<sa-big-breadcrumbs [items]="['Consulta de Calendarios']" icon="group"></sa-big-breadcrumbs>
		</div>
	</div>

	<sa-widgets-grid>
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12">

							<div class="smart-form">

								<kendo-tabstrip>
									<kendo-tabstrip-tab [title]="'B&uacute;squeda'" [selected]="true">
										<template kendoTabContent>


												<div class="row">
													<!--<section class="col col-md-2">
														<label>Fecha</label>
														<label class="input">
															<i class="icon-append fa fa-calendar"></i>
															<input type="text" placeholder="Seleccionar una Fecha" [(ngModel)]="fecha" (change)="onChangeFecha($event)"
																   saUiDatepicker date-format="dd/mm/yy" />
														</label>
													</section>
													<section class="col col-md-2">
														<label>Mes</label>
															<label class="input">
																<kendo-dropdownlist
																		[data]="mesCalendario"
																		[textField]="'nombreMes'"
																		[valueField]="'numeroMes'"
																		[defaultItem]="defaultItemMes"
																		[valuePrimitive]="true"
																		[(ngModel)]="calendarioMes.numeroMes"
																		(selectionChange)="selectedMes($event)"
																		[disabled]="fecha !== undefined">
																>
																</kendo-dropdownlist>
															</label>
													</section>-->
													<section class="col col-md-1">
														<label>A&#241;o</label>
														<label class="input">
															<kendo-dropdownlist id="idYear"
																	[data]="yearCalendario"
																	[textField]="'numberYear'"
																	[valueField]="'numberYear'"
																	[defaultItem]="defaultItemYear"
																	[valuePrimitive]="true"
																	[(ngModel)]="calendarioYear.numberYear"
																	(selectionChange)="selectedYear($event)"
																	[disabled]="fecha !== undefined">
																>
															</kendo-dropdownlist>
														</label>
													</section>
												</div>
											<div class="search-bar">
												<button type="button" class="btn btn-lg btn-default" (click)="onLimpiar()">
													Limpiar
												</button>
												<button type="submit" class="btn btn-lg btn-primary" (click)="onSubmit()">Buscar</button>

											</div>

										</template>
									</kendo-tabstrip-tab>
								</kendo-tabstrip>

									</div>
			</article>
		</div>

	</sa-widgets-grid>

	<sa-widgets-grid>

		<div class="row">

			<article class="col-sm-12">

				<sa-widget [colorbutton]="false" [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false"
						   [sortable]="false" [deletebutton]="false" >

					<header>

						<h2>Resultados {{calendarioResult.length}}</h2>

					</header>
					<div class="widget-body">
						<fieldset>
                            <div class="col-12 text-right padding-bottom-10">

                                <button (click)="onAgregarFeriado()" class="btn btn-default"> Agregar
                                </button>
                            </div>
                        </fieldset>
						<fieldset>
							<div [ngBusy]="{busy: busy, minDuration:1000}"></div>

							<kendo-grid
									[data]="gridView"
									[pageSize]="pageSize"
									[skip]="skip"
									[pageable]="true"
									(pageChange)="pageChange($event)"
							>
								<kendo-grid-column field="idEdit" title=" " [width]="40" *ngIf="isAuthorized('Editar')">
									<template kendoGridCellTemplate let-dataItem>
										<div class="text-center">
											<a href="javascript:void(0)" class="link"
											   (click)="onEdit(dataItem)"><span class="fa fa-pencil"></span></a>

										</div>
									</template>
								</kendo-grid-column>
								<kendo-grid-column field="idEdit" title=" " [width]="40" *ngIf="!isAuthorized('Eliminar')">
									<template kendoGridCellTemplate let-dataItem>
										<div class="text-center">
											<a href="javascript:void(0)" class="link" (click)="confirm(dataItem)">
												<span class="fa fa-trash"></span></a>
										</div>
									</template>
								</kendo-grid-column>
								<kendo-grid-column field="fecha" title="Fecha" [width]="200"></kendo-grid-column>
								<kendo-grid-column field="nombre" title="Nombre" [width]="340"></kendo-grid-column>
								<kendo-grid-column field="diaCompleto" title="D&iacute;a Completo" [width]="100">
									<template kendoGridCellTemplate let-dataItem>
										<input type="checkbox" [(ngModel)]="dataItem.diaCompleto" disabled/>
									</template>
								</kendo-grid-column>
								<kendo-grid-column field="horaInicio" title="Hora Inicio" [width]="200"></kendo-grid-column>
								<kendo-grid-column field="horaFin" title="Hora Fin" [width]="200"></kendo-grid-column>
							</kendo-grid>
							<confirm-dialog-form [model]="dataItem"  (accept)="onEliminar($event)"></confirm-dialog-form>

						</fieldset>
					</div>
				</sa-widget>

			</article>
			<!-- END COL -->

		</div>



	</sa-widgets-grid>


</div>
