<div id="content" class="search-view">

    <p-growl [value]="msgs"></p-growl>

    <div class="row">
        <div class="page-header">
            <sa-big-breadcrumbs [items]="['Consulta de Proyectos']" icon="group"></sa-big-breadcrumbs>
        </div>
    </div>

    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="smart-form">
                    <kendo-tabstrip>
                        <kendo-tabstrip-tab [title]="'B&uacute;squeda R&aacute;pida'" [selected]="true">
                            <template kendoTabContent>
                                <div class="row">
                                    <div class="col col-6">
                                        <label>Buscar por</label>
                                        <label class="input">
                                            <input type="text" [(ngModel)]="quickFilter.value"
                                                   placeholder="Unidad de Negocio y/o Departamento"
                                                   (keypress)="validaEnter($event)">
                                        </label>
                                    </div>
                                    <div class="col col-6">
                                        <label class="label-dummy">&nbsp;</label>
                                        <button type="submit" class="btn btn-lg btn-primary"
                                                (click)="onQuickSearck()">Buscar
                                        </button>
                                    </div>
                                </div>
                            </template>
                        </kendo-tabstrip-tab>
                        <kendo-tabstrip-tab [title]="'B&uacute;squeda Avanzada'">
                            <template kendoTabContent>
                                <div class="row">
                                    <section class="col col-4">
                                        <label>Unidad de negocio</label>
                                        <label class="input">
                                            <kendo-dropdownlist
                                                    [data]="undnegocios"
                                                    [textField]="'nombre'"
                                                    [valueField]="'idUnidadDeNegocio'"
                                                    [valuePrimitive]="true"
                                                    [defaultItem]="defaultItem"
                                                    (selectionChange)="actualizarDpto($event)"
                                                    [(ngModel)]="busquedaProyectos.idUnidadDeNegocio"
                                                    [value]="busquedaProyectos.idUnidadDeNegocio"
                                                    style="width: 100%;"
                                            >
                                            </kendo-dropdownlist>
                                        </label>
                                    </section>

                                    <section class="col col-4">
                                        <label>Departamento</label>
                                        <label class="input">
                                            <kendo-dropdownlist
                                                    [data]="departamentos"
                                                    [textField]="'nombre'"
                                                    [valueField]="'idDepartamentoArea'"
                                                    [valuePrimitive]="true"
                                                    [defaultItem]="defaultItemDepartamento"
                                                    [(ngModel)]="busquedaProyectos.idDepartamentoArea"
                                                    [value]="busquedaProyectos.idDepartamentoArea"
                                                    style="width: 100%;"

                                            >
                                            </kendo-dropdownlist>
                                        </label>
                                    </section>

                                    <section class="col col-4">
                                        <label>Estado</label>
                                        <label class="input">
                                            <kendo-dropdownlist
                                                    [data]="estados"
                                                    [textField]="'nombre'"
                                                    [valueField]="'codigo'"
                                                    [valuePrimitive]="true"
                                                    [defaultItem]="defaultItemTablaGeneral"
                                                    [(ngModel)]="busquedaProyectos.estado"
                                                    [value]="busquedaProyectos.estado"
                                                    style="width: 100%;"
                                            >

                                            </kendo-dropdownlist>

                                        </label>
                                    </section>

                                </div>
                                <div class="row">

                                    <section class="col col-4">
                                        <label>Jefe inmediato</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-search"></i>
                                            <ng2-completer [(ngModel)]="busquedaProyectos.nombreJefeProyecto"
                                                           [dataService]="dataServiceJefeInmediato"
                                                           [minSearchLength]="0"
                                                           (selected)="selectJefeProyecto($event)" (keyup)="validateFilterEmptyJefeInmediato($event)"></ng2-completer>
                                        </label>
                                    </section>

                                    <section class="col col-4">
                                        <label>Fecha Inicio-Desde</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" id="datepickerDesde"
                                                   placeholder="Seleccionar una Fecha"
                                                   [textMask]="{mask: dateTimeMask,guide:false}"
                                                   [(ngModel)]="busquedaProyectos.fechaInicioDesde"
                                                   (change)="onChangeFechaIniDesde($event)"
                                                   (keypress)="validaEnter($event)"
                                                   (keyup)="keyUpLenghtInput($event)"
                                                   (ngModelChange)="onModelChangeDatePickerInput($event,'datepickerDesde')"
                                                   saUiDatepicker/>
                                        </label>
                                    </section>

                                    <section class="col col-4">
                                        <label>Fecha Inicio-Hasta</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" id="datepickerHasta"
                                                   [textMask]="{mask: dateTimeMask,guide:false}"
                                                   placeholder="Seleccionar una Fecha"
                                                   [(ngModel)]="busquedaProyectos.fechaInicioHasta"
                                                   (change)="onChangeFechaIniHasta($event)"
                                                   (keypress)="validaEnter($event)"
                                                   (keyup)="keyUpLenghtInput($event)"
                                                   (ngModelChange)="onModelChangeDatePickerInput($event,'datepickerHasta')"
                                                   saUiDatepicker/>
                                        </label>
                                    </section>
                                </div>
                                <div class="row">

                                    <section class="col col-4">
                                        <label>Nombre</label>
                                        <label class="input">
                                            <input type="text" [(ngModel)]="busquedaProyectos.nombre"
                                                   (keypress)="validaEnter($event)"/>
                                        </label>
                                    </section>

                                    <section class="col col-4">
                                        <label>Fecha Fin-Desde</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" id="datepickerDesdeAdvance"
                                                   placeholder="Seleccionar una Fecha"
                                                   [textMask]="{mask: dateTimeMask,guide:false}"
                                                   [(ngModel)]="busquedaProyectos.fechaFinDesde"
                                                   (change)="onChangeFechaFinDesde($event)"
                                                   (keypress)="validaEnter($event)"
                                                   (keyup)="keyUpLenghtInput($event)"
                                                   (ngModelChange)="onModelChangeDatePickerInput($event,'datepickerDesdeAdvance')"
                                                   saUiDatepicker/>
                                        </label>
                                    </section>

                                    <section class="col col-4">
                                        <label>Fecha Fin-Hasta</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" id="datepickerHastaAdvance"
                                                   [textMask]="{mask: dateTimeMask,guide:false}"
                                                   placeholder="Seleccionar una Fecha"
                                                   [(ngModel)]="busquedaProyectos.fechaFinHasta"
                                                   (change)="onChangeFechaFinHasta($event)"
                                                   (keypress)="validaEnter($event)"
                                                   (keyup)="keyUpLenghtInput($event)"
                                                   (ngModelChange)="onModelChangeDatePickerInput($event,'datepickerHastaAdvance')"
                                                   saUiDatepicker/>
                                        </label>
                                    </section>
                                </div>
                                <div class="search-bar">
                                    <button type="button" class="btn btn-lg btn-default" (click)="onLimpiar()">
                                        Limpiar
                                    </button>
                                    <button type="submit" class="btn btn-lg btn-primary" (click)="onSubmit()">Buscar
                                    </button>
                                </div>
                            </template>
                        </kendo-tabstrip-tab>
                    </kendo-tabstrip>
                </div>
            </article>
        </div>
    </sa-widgets-grid>

    <!-- widget grid -->
    <sa-widgets-grid>

        <!-- START ROW -->
        <div class="row">

            <alert *ngIf="noItems" type="info" dismissible="true">
                <i class="fa-fw fa fa-info"></i>
                <strong>Info!</strong> No hay información para exportar.
            </alert>

            <!-- NEW COL START -->
            <article class="col-sm-12">

                <sa-widget [colorbutton]="false" [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false"
                           [sortable]="false" [deletebutton]="false">

                    <header>


                        <h2>Resultados {{proyectos.length}}</h2>

                    </header>
                    <div class="widget-body">

                        <fieldset>
                            <div class="col-12 text-right padding-bottom-10">

                                <button (click)="onNuevoProyecto()" class="btn btn-default"
                                        *ngIf="isAuthorized('Agregar')">
                                    Nuevo Proyecto
                                </button>
                            </div>
                        </fieldset>

                        <fieldset>

                            <div [ngBusy]="{busy: busy, minDuration:1000}"></div>
                            <kendo-grid
                                    [data]="gridView"
                                    [pageSize]="pageSize"
                                    [skip]="skip"
                                    [pageable]="true"
                                    (pageChange)="pageChangeProyectos($event)"
                            >


                                <kendo-grid-column field="idProyecto" title=" " [width]="40"
                                                   *ngIf="isAuthorized('Editar')">
                                    <template kendoGridCellTemplate let-dataItem>
                                        <div class="text-center">
                                            <a href="javascript:void(0)" class="link" (click)="onEdit(dataItem)">
                                                <span class="fa fa-pencil"></span></a>
                                        </div>
                                    </template>
                                </kendo-grid-column>

                                <kendo-grid-column field="idProyecto" title=" " [width]="40"
                                                   *ngIf="!isAuthorized('Editar')">
                                    <template kendoGridCellTemplate let-dataItem>
                                        <div class="text-center">
                                            <a href="javascript:void(0)" class="link" (click)="onEdit(dataItem)">
                                                <span class="fa fa-eye"></span></a>
                                        </div>
                                    </template>
                                </kendo-grid-column>

                                <kendo-grid-column field="idProyecto" title=" " [width]="40"
                                                   *ngIf="isAuthorized('Eliminar')">
                                    <template kendoGridCellTemplate let-dataItem>
                                        <div class="text-center">
                                            <a href="javascript:void(0)" class="link" (click)="confirm(dataItem)">
                                                <span class="fa fa-trash"></span></a>
                                        </div>
                                    </template>
                                </kendo-grid-column>

                                <kendo-grid-column field="codigo" title="C&oacute;digo"
                                                   [width]="150"></kendo-grid-column>
                                <kendo-grid-column field="nombre" title="Nombre" [width]="250"></kendo-grid-column>
                                <kendo-grid-column field="nombreJefeProyecto" title="Jefe"
                                                   [width]="300"></kendo-grid-column>
                                <kendo-grid-column field="fechaInicio" title="Fecha Inicio"
                                                   [width]="100"></kendo-grid-column>
                                <kendo-grid-column field="fechaFin" title="Fecha Fin" [width]="100"></kendo-grid-column>
                                <kendo-grid-column field="estado" title="Estado" [width]="100"></kendo-grid-column>
                                <kendo-grid-column field="nombreUnidadDeNegocio" title="Unidad de Negocio"
                                                   [width]="200"></kendo-grid-column>
                                <kendo-grid-column field="nombreDepartamentoArea" title="Departamento"
                                                   [width]="200"></kendo-grid-column>
                                <kendo-grid-column field="empleados" title="Empleados" [width]="80"></kendo-grid-column>

                            </kendo-grid>

                            <confirm-dialog-form [model]="dataItem" (accept)="onDelete($event)"></confirm-dialog-form>

                        </fieldset>
                    </div>
                </sa-widget>

            </article>
            <!-- END COL -->

        </div>


    </sa-widgets-grid>
</div>