<div id="content">

	<simple-notifications [options]="options"></simple-notifications>

	<div class="row">


		<div class="page-header">
			<div class="btn-back" (click)="onRegresarHorarioEmpleado()"><i class="ic-arrow-back"></i></div>
			<sa-big-breadcrumbs [items]="['Horario Empleado ']" icon="group"></sa-big-breadcrumbs>
		</div>

		<div class="col-lg-12">
			<div class="resume-panel">
				<div>
					<div class="resume-info">
						<div class="user-image">
							<i class="ic-person" id="iconPerson"></i>
							<img [src]="fotoEmpleado" style="display: none;" alt="Foto del Empleado" id="fotoEmpleado">
						</div>
						<div class="user-info">
							<div>
								<span>{{nombreCompletoEmpleado}}</span>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

		<div class="col-lg-12">

							<div class="well well-sm well-light">

								<div class="padding-10">

									<div>
										<fieldset>
											<legend>Datos</legend>

											<div class="smart-form">

												<div class="row">

													<section class="col col-md-4">
														<label>Fecha Inicio de Vigencia</label>
														<label [class]="classEdit">
															<i class="icon-append fa fa-calendar"></i>
															<input type="text" placeholder="Seleccionar una Fecha" (change)="onChangeInicioVigencia($event)" [(ngModel)]="horarioEmpleado.inicioVigencia" saUiDatepicker date-format="dd/MM/yy" [disabled]="isEdit" readonly="readonly"/>
														</label>

													</section>
													<section class="col col-md-4">
														<label>Fecha Fin de Vigencia</label>
														<label class="input state-disabled">
															<i class="icon-append fa fa-calendar"></i>
															<input type="text" [(ngModel)]="horarioEmpleado.finVigencia" disabled="disabled"/>
														</label>

													</section>
												</div>

												<div class="row">


													<section class="col col-md-4">
														<label>Tipo Horario<span style="color: red">*</span></label>
														<label class="input">
															<kendo-dropdownlist [data]="tiposhorario" [textField]="'nombre'" [valueField]="'codigo'" [defaultItem]="defaultItem" [valuePrimitive]="true" [(ngModel)]="horarioEmpleado.tipoHorario" style="width: 100%;" (selectionChange)="onchangeHorario($event)" [disabled]="isEdit"></kendo-dropdownlist>
														</label>
													</section>
													<section class="col col-md-4">
														<label>Horario Seleccionado</label>
														<label class="input">
															<kendo-dropdownlist [data]="horarios" [textField]="'nombre'" [valueField]="'idHorario'" [defaultItem]="defaultItemHorario" [valuePrimitive]="true" [(ngModel)]="horarioEmpleado.idHorario" [(value)]="horarioEmpleado.idHorario" style="width: 100%;" (selectionChange)="onChangeHorarioDia($event)" [disabled]="isPersonalizado"></kendo-dropdownlist>
														</label>
													</section>

												</div>

												<div class="row">

													<section class="col col-md-4">
														<label>Horas por Semana</label>
														<label [class]="classEdit">
															<input type="text" [(ngModel)]="horarioEmpleado.horasSemanal" [disabled]="isEdit"/>
														</label>
													</section>

													<section class="col col-md-4">
														<label>Horas Cubiertas</label>
														<label class="input state-disabled">
															<input type="text" disabled="disabled"/>
														</label>
													</section>
												</div>

											</div>
										</fieldset>

									</div>
								</div>

								<div class="padding-10">
									<div>
										<fieldset>

											<kendo-grid [data]="horarioEmpleadoDias" >

												<kendo-grid-column field="idHorarioEmpleadoDia" title=" " [width]="40">
													<template kendoGridCellTemplate let-dataItemHorarioDia>
														<div class="text-center">
															<a href="javascript:void(0)" class="link" (click)="onEditarHorarioDia(dataItemHorarioDia)">
																<span class="fa fa-pencil"></span></a>
														</div>
													</template>
												</kendo-grid-column>


												<kendo-grid-column field="nombreDiaSemana" title="Dia" [width]="150"></kendo-grid-column>
												<kendo-grid-column field="laboral" title="Laboral" [width]="200"></kendo-grid-column>
												<kendo-grid-column field="entrada" title="Entrada" [width]="100"></kendo-grid-column>
												<kendo-grid-column field="salida" title="Salida" [width]="100"></kendo-grid-column>
												<kendo-grid-column field="tiempoAlmuerzo" title="Almuerzo" [width]="100"></kendo-grid-column>
											</kendo-grid>

											<horario-empleado-dia-dialog-form [model]="dataItemHorarioDia" (cancel)="onCancelarHorarioDia()" (save)="onAgregarHorarioDia($event)"></horario-empleado-dia-dialog-form>
										</fieldset>

									</div>

								</div>

								<div class="padding-10">
									<div class="bottom-bar">
										<button (click)="onRegistrarHorarioEmpleado()" class="btn btn-primary"> Guardar</button>
									</div>

								</div>

							</div>


			</div>
		</div>


</div>
