<div id="content">
    <div class="row">
        <div class="page-header">
            <div class="btn-back" (click)="onRegresarBusquedaEmpleado()"><i class="ic-arrow-back"></i></div>
            <sa-big-breadcrumbs [items]="['Información del Empleado ']" icon="group"></sa-big-breadcrumbs>
        </div>

        <div class="col-lg-12">

            <div class="resume-panel">
                <div>
                    <div class="resume-info">
                        <div class="user-image">
                            <i class="ic-person" id="iconPerson"></i>
                            <img [src]="fotoEmpleado" style="display: none;" alt="Foto del Empleado" id="fotoEmpleado">
                        </div>
                        <div class="user-info">
                            <div>
                                <span>{{empleado.nombreCompletoEmpleado}}</span>
                            </div>
                            <div>
                                <a (click)="onEdit()" class="btn btn-default"
                                   *ngIf="isAuthorized('Editar')">Informacion Personal</a>
                            </div>
                        </div>
                    </div>
                    <div class="resume-options">
                        <div class="row margin-bottom-10">
                            <div class="col-xs-4"*ngIf="isAuthorized('GestionarHorarios')">
                                <a (click)="onIrHorarioEmpleado()" class="btn btn-default"
                                   >Horarios</a>
                            </div>
                            <div class="col-xs-4" *ngIf="hasAuthorization('GT002','Acceder')">
                                <a (click)="onIrGestionarVacacion()" class="btn btn-default"
                                >Vacaciones</a>
                            </div>
                            <div class="col-xs-4" *ngIf="isAuthorized('DarDeBaja')">
                                <a (click)="onIrDarBajaEmpleado()" class="btn btn-default"
                                >Dar de Baja</a>
                            </div>
                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-xs-4" *ngIf="isAuthorized('GestionarContratos')">
                                <a (click)="onIrContratoEmpleado()" class="btn btn-default"
                                  >Contratos</a>
                            </div>
                            <div class="col-xs-4" *ngIf="hasAuthorization('GT001','Acceder')">
                                <a (click)="onIrGestionarPermiso()" class="btn btn-default"
                                >Permisos</a>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-xs-4" *ngIf="isAuthorized('GestionarHistorialDeTrabajo')">
                                <a (click)="onIrHistorialTrabajo()" class="btn btn-default"
                                >Historial Laboral</a>
                            </div>
                            <div class="col-xs-4" *ngIf="hasAuthorization('GT003','Acceder')">
                                <a (click)="onGestionarIrLicencia()" class="btn btn-default"
                                  >Licencias</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <kendo-tabstrip>
                <kendo-tabstrip-tab [title]="'Información Personal'" [selected]="true">
                    <template kendoTabContent>
                        <div class="padding-10">

                            <!--div class="padding-10"-->
                            <div>
                                <fieldset>
                                    <legend>Datos Principales</legend>

                                    <!--div class="col-md-4">
                                        <div id="imgLogo1Subido"
                                             style="width: 100%; height: 275px; background-size: contain; background-repeat: no-repeat; background-position: 50% 50%; border: groove;">
                                        </div>
                                    </div-->
                                        <div class="smart-form">
                                            <div class="row">
                                                <section class="col col-md-6">
                                                    <label>Nombres</label>
                                                    <label class="input state-disabled">
                                                        <input type="text" [(ngModel)]="empleado.nombre" disabled="disabled">
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-md-6">
                                                    <label>Apellido Paterno</label>
                                                    <label class="input state-disabled">
                                                        <input type="text" [(ngModel)]="empleado.apellidoPaterno" disabled="disabled">
                                                    </label>
                                                </section>

                                                <section class="col col-md-6">
                                                    <label>Apellido Materno</label>
                                                    <label class="input state-disabled">
                                                        <input type="text" [(ngModel)]="empleado.apellidoMaterno" disabled="disabled">
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-md-6">
                                                    <label>Tipo de Documento</label>
                                                    <label class="input state-disabled">
                                                        <input type="text" [(ngModel)]="empleado.tipoDocumentoString" disabled="disabled">
                                                    </label>
                                                </section>

                                                <section class="col col-md-6">
                                                    <label>Numero de Documento</label>
                                                    <label class="input state-disabled">
                                                        <input type="text" [(ngModel)]="empleado.numeroDocumento" disabled="disabled">
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-md-6">
                                                    <label>Genero</label>
                                                    <label class="input state-disabled">
                                                        <input type="text" [(ngModel)]="empleado.generoString" disabled="disabled">
                                                    </label>
                                                </section>

                                                <section class="col col-md-6">
                                                    <label>Estado Civil</label>
                                                    <label class="input state-disabled">
                                                        <input type="text" [(ngModel)]="empleado.estadoCivilString" disabled="disabled">
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-md-6">
                                                    <label>Grupo Sanguineo</label>
                                                    <label class="input state-disabled">
                                                        <input type="text" [(ngModel)]="empleado.grupoSangreString" disabled="disabled">
                                                    </label>
                                                </section>
                                                <section class="col col-md-6">
                                                    <label>Discapacitado</label>
                                                    <label class="select state-disabled">
                                                        <input type="checkbox" [(ngModel)]="empleado.discapacitado" disabled="disabled">
                                                    </label>
                                                </section>
                                            </div>

                                        </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Datos de Nacimiento</legend>
                                    <div class="smart-form">
                                        <div class="row">
                                            <section class="col col-md-4">
                                                <label>Fecha de Nacimiento</label>
                                                <label class="input state-disabled">
                                                    <i class="icon-append fa fa-calendar"></i>
                                                    <input type="text" [(ngModel)]="empleado.fechaNacimiento" disabled="disabled"/>
                                                </label>

                                            </section>
                                            <section class="col col-md-4">
                                                <label>Pais</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.paisNacimientoString" disabled="disabled">
                                                </label>

                                            </section>
                                            <section class="col col-md-4">
                                                <label>Departamento</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.departamentoNacimientoString" disabled="disabled">
                                                </label>
                                            </section>
                                        </div>

                                        <div class="row">
                                            <section class="col col-md-4">
                                                <label>Edad</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.edad" disabled="disabled">
                                                </label>
                                            </section>
                                            <section class="col col-md-4">
                                                <label>Provincia</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.provinciaNacimientoString" disabled="disabled">
                                                </label>

                                            </section>
                                            <section class="col col-md-4">
                                                <label>Distrito</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.distritoNacimiento" disabled="disabled">
                                                </label>
                                            </section>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Datos en la Empresa</legend>
                                    <div class="smart-form">
                                        <div class="row">
                                            <section class="col col-md-4">
                                                <label>Codigo</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.codigo" disabled="disabled">
                                                </label>
                                            </section>

                                            <section class="col col-md-4">
                                                <label>Fecha Ingreso</label>
                                                <label class="input state-disabled">
                                                    <i class="icon-append fa fa-calendar"></i>
                                                    <input type="text" saUiDatepicker date-format="dd/MM/yy" placeholder="Seleccionar una Fecha" [(ngModel)]="empleado.fechaIngreso" disabled="disabled"/>
                                                </label>
                                            </section>

                                            <section class="col col-md-4">
                                                <label>Tiempo en la Empresa</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="tiempoTrabajado" disabled="disabled">
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">

                                            <section class="col col-md-8">
                                                <label>Email Interno</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.emailInterno" disabled="disabled">
                                                </label>
                                            </section>
                                            <section class="col col-md-3">
                                                <label>Telefono Interno</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.telefonoInterno" disabled="disabled">
                                                </label>
                                            </section>
                                            <section class="col col-md-1">
                                                <label>Anexo</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.anexoInterno" disabled="disabled">
                                                </label>
                                            </section>

                                            <section class="col col-md-4">
                                                <label>Centro de Costo</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.centroCostoString" disabled="disabled">
                                                </label>
                                            </section>
                                            <section class="col col-md-4">
                                                <label>Contrato de Trabajo</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.contratoTrabajoString" disabled="disabled">
                                                </label>
                                            </section>
                                            <section class="col col-md-4">
                                                <label>Tipo de Trabajador</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.tipoTrabajadorString" disabled="disabled">
                                                </label>
                                            </section>
                                            <section class="col col-md-4">
                                                <label>Regimen Horario</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.regimenHorarioString" disabled="disabled">
                                                </label>
                                            </section>
                                            <section class="col col-md-4">
                                                <label>Regimen Laboral</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.regimenLaboralString" disabled="disabled">
                                                </label>
                                            </section>
                                            <section class="col col-md-4">
                                                <label>Personal de Confianza</label>
                                                <label class="select state-disabled">
                                                    <input type="checkbox" [(ngModel)]="empleado.esPersonalDeConfianza" disabled="disabled">
                                                </label>
                                            </section>
                                        </div>

                                        <div class="row">

                                            <section class="col col-md-4">
                                                <label>Entidad Bancaria de Sueldo</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.entidadBancariaSueldoString" disabled="disabled">
                                                </label>
                                            </section>
                                            <section class="col col-md-4">
                                                <label>CTS</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.ctsString" disabled="disabled">
                                                </label>
                                            </section>
                                            <section class="col col-md-4">
                                                <label>AFP</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.afpString" disabled="disabled">
                                                </label>
                                            </section>

                                        </div>

                                        <div class="row">

                                            <section class="col col-md-4">
                                                <label>Tiene EPS?</label>
                                                <label class="select state-disabled">
                                                    <input type="checkbox" [(ngModel)]="empleado.tieneEps" disabled="disabled">
                                                </label>
                                            </section>
                                            <section class="col col-md-4">
                                                <label>EPS</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.epsString" disabled="disabled">
                                                </label>
                                            </section>
                                        </div>


                                    </div>
                                </fieldset>

                            </div>

                        </div>
                    </template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab [title]="'Contactos'">
                    <template kendoTabContent>
                        <div class="padding-10">
                            <div>
                                <fieldset>
                                    <legend>Domicilio</legend>
                                    <div class="smart-form">
                                        <div class="row">
                                            <section class="col col-md-8">
                                                <label>Direccion</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.direccionDomicilio" disabled="disabled">
                                                </label>
                                            </section>

                                            <section class="col col-md-4">
                                                <label>Tipo Domicilio</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.tipoDomicilioString" disabled="disabled">
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-md-4">
                                                <label>Pais</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.paisDomicilioString" disabled="disabled">
                                                </label>
                                            </section>

                                            <section class="col col-md-4">
                                                <label>Departamento</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.departamentoDomicilioString" disabled="disabled">
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-md-4">
                                                <label>Provincia</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.provinciaDomicilioString" disabled="disabled">
                                                </label>
                                            </section>

                                            <section class="col col-md-4">
                                                <label>Distrito</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.distritoDomicilio"disabled="disabled">
                                                </label>
                                            </section>

                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Telefonos</legend>
                                    <div class="smart-form">
                                        <div class="row">
                                            <section class="col col-md-4">
                                                <label>Casa</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.telefonoCasa" disabled="disabled">
                                                </label>
                                            </section>
                                            <section class="col col-md-4">
                                                <label>Celular</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.telefonoCelular" disabled="disabled">
                                                </label>
                                            </section>
                                            <section class="col col-md-4">
                                                <label>Telefono Adicional</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.telefonoAdicional" disabled="disabled">
                                                </label>
                                            </section>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Informacion Adicional</legend>
                                    <div class="smart-form">
                                        <div class="row">
                                            <section class="col col-md-8">
                                                <label>Correo Electronico</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.emailPersonal" disabled="disabled">
                                                </label>
                                            </section>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Contacto de Emergencia</legend>
                                    <div class="smart-form">
                                        <div class="row">
                                            <section class="col col-md-4">
                                                <label>Relacion</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.relacionContactoEmergenciaString" disabled="disabled">
                                                </label>
                                            </section>
                                            <section class="col col-md-8">
                                                <label>Nombre Completo</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.nombreContactoEmergencia" disabled="disabled">
                                                </label>
                                            </section>

                                            <section class="col col-md-4">
                                                <label>Telefono</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.telefonoContactoEmergencia" disabled="disabled">
                                                </label>
                                            </section>

                                            <section class="col col-md-8">
                                                <label>Correo Electronico</label>
                                                <label class="input state-disabled">
                                                    <input type="text" [(ngModel)]="empleado.emailContactoEmergencia" disabled="disabled">
                                                </label>
                                            </section>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab [title]="'Documentos'">
                    <template kendoTabContent>
                        <div class="padding-10">
                            <div>

                                <fieldset>

                                    <kendo-grid
                                            [data]="documentos"
                                            [pageSize]="pageSize"
                                            [skip]="skip"
                                            [pageable]="true"
                                            (pageChange)="pageChange($event)">

                                        <kendo-grid-column field="nombre" title="Nombre del Documento"></kendo-grid-column>
                                        <kendo-grid-column field="idDocumentoEmpleado" title="Archivo">
                                            <template kendoGridCellTemplate let-dataItem>
                                                <div class="text-center">
                                                    <a href="javascript:void(0)" class="link" (click)="onViewDocument(dataItem)">
                                                        <span class="fa fa-download"></span> Descargar</a>
                                                </div>

                                            </template>
                                        </kendo-grid-column>

                                    </kendo-grid>

                                </fieldset>
                            </div>
                        </div>
                    </template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab [title]="'Educación'">
                    <template kendoTabContent>
                        <div class="padding-10">
                            <div>

                                <fieldset>

                                    <kendo-grid
                                            [data]="educaciones"
                                            [pageSize]="pageSize"
                                            [skip]="skip"
                                            [pageable]="true"
                                            (pageChange)="pageChange($event)">

                                        <kendo-grid-column field="nombreNivelEducacion" title="Nivel Educacion"></kendo-grid-column>
                                        <kendo-grid-column field="institucion" title="Institucion"></kendo-grid-column>
                                        <kendo-grid-column field="fechaInicio" title="Desde"></kendo-grid-column>
                                        <kendo-grid-column field="fechaFin" title="Hasta"></kendo-grid-column>
                                        <kendo-grid-column field="titulo" title="Titulo"></kendo-grid-column>

                                    </kendo-grid>

                                </fieldset>
                            </div>
                        </div>
                    </template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab [title]="'Experiencia Laboral'">
                    <template kendoTabContent>
                        <div class="padding-10">
                            <div>

                                <fieldset>

                                    <kendo-grid
                                            [data]="experienciasLaborales"
                                            [pageSize]="pageSize"
                                            [skip]="skip"
                                            [pageable]="true"
                                            (pageChange)="pageChange($event)">

                                        <kendo-grid-column field="razonSocial" title="Empresa"></kendo-grid-column>
                                        <kendo-grid-column field="departamento" title="Area"></kendo-grid-column>
                                        <kendo-grid-column field="cargo" title="Cargo"></kendo-grid-column>
                                        <kendo-grid-column field="fechaInicio" title="Desde"></kendo-grid-column>
                                        <kendo-grid-column field="fechaFin" title="Hasta"></kendo-grid-column>

                                    </kendo-grid>

                                </fieldset>
                            </div>
                        </div>
                    </template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab [title]="'Dependientes'">
                    <template kendoTabContent>
                        <div class="padding-10">
                            <div>

                                <fieldset>

                                    <kendo-grid
                                            [data]="dependientes"
                                            [pageSize]="pageSize"
                                            [skip]="skip"
                                            [pageable]="true"
                                            (pageChange)="pageChange($event)">

                                        <kendo-grid-column field="nombreRelacion" title="Relacion"></kendo-grid-column>
                                        <kendo-grid-column field="nombre" title="Nombre Completo"></kendo-grid-column>
                                        <kendo-grid-column field="nombreTipoDocumento" title="Tipo Documento"></kendo-grid-column>
                                        <kendo-grid-column field="numeroDocumento" title="Numero Documento"></kendo-grid-column>
                                        <kendo-grid-column field="fechaNacimiento" title="Fecha Nacimiento"></kendo-grid-column>

                                    </kendo-grid>

                                </fieldset>
                            </div>
                        </div>
                    </template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab [title]="'Equipos entregados'">
                    <template kendoTabContent>
                        <div class="padding-10">
                            <div>

                                <fieldset>

                                    <kendo-grid
                                            [data]="equiposEntregados"
                                            [pageSize]="pageSize"
                                            [skip]="skip"
                                            [pageable]="true"
                                            (pageChange)="pageChange($event)">

                                        <kendo-grid-column field="nombreTipoEquipo" title="Tipo Equipo"></kendo-grid-column>
                                        <kendo-grid-column field="descripcion" title="Descripcion"></kendo-grid-column>
                                        <kendo-grid-column field="fechaEntrega" title="Fecha Entrega"></kendo-grid-column>
                                        <kendo-grid-column field="fechaDevolucion" title="Fecha Devolucion"></kendo-grid-column>
                                        <kendo-grid-column field="nombreEstado" title="Estado"></kendo-grid-column>

                                    </kendo-grid>

                                </fieldset>
                            </div>
                        </div>
                    </template>
                </kendo-tabstrip-tab>
            </kendo-tabstrip>



            <div class="box-shadow"></div>


        </div>
    </div>
</div>
