<div id="content">
	<p-growl [value]="msgs"></p-growl>

	<div class="row">
		<div class="page-header">
			<div class="btn-back" (click)="onRegresarVerEmpleado()"><i class="ic-arrow-back"></i></div>
			<sa-big-breadcrumbs [items]="['Historial de Horarios ']" icon="group"></sa-big-breadcrumbs>
		</div>


		<div class="col-lg-12">
			<div class="resume-panel">
				<div>
					<div class="resume-info">
						<div class="user-image">
							<i class="ic-person" id="iconPerson"></i>
							<img [src]="fotoEmpleado" style="display: none;" alt="Foto del Empleado" id="fotoEmpleado">
						</div>
						<div class="user-info">
							<div>
								<span>{{nombreCompletoEmpleado}}</span>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>


		<div class="col-lg-12">

							<div class="well well-sm well-light">

								<div class="padding-10">
									<div>
										<fieldset>
											<div class="col-12 text-right padding-bottom-10">
												<button (click)="onNuevoHorarioEmpleado()" class="btn btn-primary">
													Agregar Nuevo Horario
												</button>
											</div>
										</fieldset>
									</div>

									<div>
										<fieldset>


											<kendo-grid [data]="horariosEmpleado" >

												<kendo-grid-column field="idHorarioEmpleado" title=" " [width]="40">
													<template kendoGridCellTemplate let-dataItem>
														<div class="text-center">
															<a href="javascript:void(0)" class="link" (click)="onEditarHorarioEmpleado(dataItem)">
																<span class="fa fa-pencil"></span></a>
														</div>
													</template>
												</kendo-grid-column>

												<kendo-grid-column field="idHorarioEmpleado" title=" " [width]="40">
													<template kendoGridCellTemplate let-dataItem>
														<div class="text-center" *ngIf="stringToDate(dataItem.inicioVigencia) > dateNow" >
															<a href="javascript:void(0)" class="link" (click)="confirm(dataItem)">
																<span class="fa fa-trash"></span></a>
														</div>
													</template>
												</kendo-grid-column>

												<kendo-grid-column field="nombreTipoHorario" title="Tipo Horario" [width]="150"></kendo-grid-column>
												<kendo-grid-column field="nombreHorario" title="Horario" [width]="200"></kendo-grid-column>
												<kendo-grid-column field="horasSemanal" title="Horas Por Semana" [width]="100"></kendo-grid-column>
												<kendo-grid-column field="diasLaboral" title="Dias a la Semana" [width]="100"></kendo-grid-column>
												<kendo-grid-column field="inicioVigencia" title="Desde" [width]="100"></kendo-grid-column>
												<kendo-grid-column field="finVigencia" title="Hasta" [width]="100"></kendo-grid-column>
												<kendo-grid-column field="estadoHorario" title="Estado Horario" [width]="100"></kendo-grid-column>
											</kendo-grid>

											<confirm-dialog-form [model]="dataItem"  (accept)="onEliminarHorarioEmpleado($event)"></confirm-dialog-form>

										</fieldset>

									</div>

								</div>

							</div>

			</div>
		</div>


</div>
