<div id="content">

    <p-growl [value]="msgs"></p-growl>

    <div class="row">
        <div class="page-header">
            <sa-big-breadcrumbs [items]="['Dashboard']" icon="group"></sa-big-breadcrumbs>
        </div>
        <div class="col-lg-12">
            <!-- row -->

            <div class="well well-light">

                <div>
                    <fieldset>
                        <legend>Indicadores</legend>

                        <div>
                            <div class="well">
                                <!--START ESPERSONALCONFIANZA-->
                                <div class="row" *ngIf="esPersonalConfianza">
                                    <div class="col-sm-2">
                                        <div *ngIf="isVacacion"
                                             class="well well-sm bg-color-green-light-dashboard dashboard-kpi"
                                             >
                                            <h5 class="textCenterH5">Vacaciones</h5>
                                        </div>
                                        <div *ngIf="isLicencia"
                                             class="well well-sm bg-color-green-light-dashboard dashboard-kpi"
                                             >
                                            <h5 class="textCenterH5">Licencia</h5>
                                        </div>
                                        <div *ngIf="isInasistencia"
                                             class="well well-sm bg-color-red-dashboard dashboard-kpi"
                                             >
                                            <h5 class="textCenterH5">Inasistencia</h5>
                                        </div>
                                        <div *ngIf="marcaste"
                                             class="well well-sm bg-color-blue-dashboard dashboard-kpi"
                                             >
                                            <h5 class="textCenterH5">Marcaste</h5>
                                        </div>
                                        <div *ngIf="!marcaste"
                                             class="well well-sm bg-color-grey-dashboard dashboard-kpi"
                                             >
                                            <h5 class="textCenterH5">Sin marcaci&oacute;n</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="well well-sm bg-color-red-dashboard dashboard-kpi"
                                             style="height: 150px; width: 150px;">
                                            <h1 class="countEmpleado">{{inasistenciasXmes}}</h1>
                                            <h5 class="textEmpleado">Inasistencias en el mes</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="well well-sm bg-color-cyan-ligth-dashboard dashboard-kpi"
                                             style="height: 150px; width: 150px;">
                                            <h1 class="countEmpleado">
                                                {{agendarVacacion.diasVacacionesDisponibles}}</h1>
                                            <h5 class="textEmpleado">Vacaciones Disponibles</h5>
                                        </div>
                                    </div>
                                </div>
                                <!--END ESPERSONALCONFIANZA-->
                                <div class="row" *ngIf="!esPersonalConfianza">
                                    <div class="col-sm-2">
                                        <div *ngIf="isVacacion"
                                             class="well well-sm bg-color-green-light-dashboard dashboard-kpi"
                                             >
                                            <h5 class="textCenterH5">Vacaciones</h5>
                                        </div>
                                        <div *ngIf="isLicencia"
                                             class="well well-sm bg-color-green-light-dashboard dashboard-kpi"
                                             >
                                            <h5 class="textCenterH5">Licencia</h5>
                                        </div>
                                        <div *ngIf="isInasistencia"
                                             class="well well-sm bg-color-red-dashboard dashboard-kpi"
                                             >
                                            <h5 class="textCenterH5">Inasistencia</h5>
                                        </div>
                                        <div *ngIf="isTemprano == true"
                                             class="well well-sm bg-color-blue-dashboard dashboard-kpi"
                                             >
                                            <h5 class="textCenterH5">Llegaste Temprano</h5>
                                        </div>
                                        <div *ngIf="isTemprano == false"
                                             class="well well-sm bg-color-red-dashboard dashboard-kpi"
                                             >
                                            <h1 class="countEmpleado">{{minutosTardanzaXdia}}</h1>
                                            <h5 class="textEmpleado">minutos Tarde</h5>
                                        </div>
                                        <div *ngIf="marcaste == false"
                                             class="well well-sm bg-color-grey-dashboard dashboard-kpi"
                                             >
                                            <h5 class="textCenterH5">Sin marcaci&oacute;n</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="well well-sm bg-color-green-light-dashboard dashboard-kpi"
                                             >
                                            <h1 class="countEmpleado">{{tardanzasXmes}}</h1>
                                            <h5 class="textEmpleado">Tardanzas en el mes</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="well well-sm bg-color-green-light-dashboard dashboard-kpi"
                                             >
                                            <h1 class="countEmpleado">{{minutosTardanzaXmes}}</h1>
                                            <h5 class="textEmpleado">Minutos de tardanza en el mes</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="well well-sm bg-color-mustard-dashboard dashboard-kpi"
                                             style="height: 150px; width: 150px;">
                                            <h1 class="countEmpleado">{{inasistenciasXmes}}</h1>
                                            <h5 class="textEmpleado">Inasistencias en el mes</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="well well-sm bg-color-cyan-ligth-dashboard dashboard-kpi"
                                             style="height: 150px; width: 150px;">
                                            <h1 class="countEmpleado">{{agendarVacacion.diasVacacionesDisponibles}}</h1>
                                            <h5 class="textEmpleado">Vacaciones Disponibles</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="well well-sm bg-color-red-dashboard dashboard-kpi"
                                             style="height: 150px; width: 150px;">
                                            <h1 class="countEmpleado">{{horasPendientesPorCompensar}}</h1>
                                            <h5 class="textEmpleado">Horas Pendientes por Compensar</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <kendo-tabstrip>
                                <kendo-tabstrip-tab [title]="'Permisos'" [selected]="true">
                                    <template kendoTabContent>
                                        <fieldset>
                                            <div [ngBusy]="{busy: busy, minDuration:1000}"></div>

                                            <kendo-grid
                                                    [data]="gridViewPermiso"
                                                    [pageSize]="pageSizePermiso"
                                                    [skip]="skipPermiso"
                                                    [pageable]="true"
                                                    (pageChange)="pageChangePermiso($event)"
                                            >
                                                <kendo-grid-column [width]="30">
                                                    <template kendoGridCellTemplate let-dataItem>
                                                        <div class="text-center" >
                                                            <a href="javascript:void(0)" class="link"
                                                               (click)="onEditPermiso(dataItem)">
                                                                <span class="fa fa-pencil"></span></a>

                                                            <a href="javascript:void(0)" class="link" *ngIf="dataItem.estado === 'Enviado'"
                                                               (click)="onEditPermiso(dataItem)">
                                                                <span class="fa fa-eye"></span></a>
                                                            <a href="javascript:void(0)" class="link" *ngIf="dataItem.estado === 'Pendiente'"
                                                               (click)="onEditPermiso(dataItem)">
                                                                <span class="fa fa-pencil"></span></a>
                                                        </div>
                                                    </template>
                                                </kendo-grid-column>
                                                <kendo-grid-column [width]="30">
                                                    <template kendoGridCellTemplate let-dataItem>
                                                        <div class="text-center" *ngIf="dataItem.estado === 'Pendiente'">
                                                            <a href="javascript:void(0)" class="link"
                                                               (click)="onDeletePermiso(dataItem)">
                                                                <span class="fa fa-trash-o"></span></a>
                                                        </div>
                                                    </template>
                                                </kendo-grid-column>
                                                <kendo-grid-column field="estado" title="Estado" [width]="60"></kendo-grid-column>
                                                <kendo-grid-column field="motivo" title="Motivo" [width]="150"></kendo-grid-column>
                                                <kendo-grid-column field="fecha" title="Fecha" [width]="70"></kendo-grid-column>
                                                <kendo-grid-column field="horaInicio" title="Desde" [width]="50"></kendo-grid-column>
                                                <kendo-grid-column field="horaFin" title="Hasta" [width]="50"></kendo-grid-column>
                                                <kendo-grid-column field="horas" title="Horas" [width]="50"></kendo-grid-column>
                                                <kendo-grid-column field="nombreJefeInmediato" title="Jefe inmediato" [width]="170"></kendo-grid-column>
                                            </kendo-grid>
                                        </fieldset>
                                    </template>
                                </kendo-tabstrip-tab>
                                <kendo-tabstrip-tab [title]="'Vacaciones'">
                                    <template kendoTabContent>
                                        <fieldset>
                                            <div [ngBusy]="{busy: busy, minDuration:1000}"></div>

                                            <kendo-grid
                                                    [data]="gridViewVacacion"
                                                    [pageSize]="pageSizeVacacion"
                                                    [skip]="skipVacacion"
                                                    [pageable]="true"
                                                    (pageChange)="pageChangeVacacion($event)"
                                            >
                                                <kendo-grid-column [width]="40" >
                                                    <template kendoGridCellTemplate let-dataItem>
                                                        <div class="text-center" >
                                                            <a href="javascript:void(0)" class="link" *ngIf="dataItem.estado === 'Enviado'"
                                                               (click)="onEditVacacion(dataItem)">
                                                                <span class="fa fa-eye"></span></a>
                                                            <a href="javascript:void(0)" class="link" *ngIf="dataItem.estado === 'Pendiente'"
                                                               (click)="onEditVacacion(dataItem)">
                                                                <span class="fa fa-pencil"></span></a>
                                                        </div>
                                                    </template>
                                                </kendo-grid-column>
                                                <kendo-grid-column [width]="40" >
                                                    <template kendoGridCellTemplate let-dataItem>
                                                        <div class="text-center" *ngIf="dataItem.estado === 'Pendiente'">
                                                            <a href="javascript:void(0)" class="link"
                                                               (click)="onDeleteVacacion(dataItem)">
                                                                <span class="fa fa-trash-o"></span></a>
                                                        </div>
                                                    </template>
                                                </kendo-grid-column>
                                                <kendo-grid-column field="estado" title="Estado"
                                                                   [width]="100"></kendo-grid-column>
                                                <kendo-grid-column field="fechaInicio" title="Desde"
                                                                   [width]="100"></kendo-grid-column>
                                                <kendo-grid-column field="fechaFin" title="Hasta"
                                                                   [width]="100"></kendo-grid-column>
                                                <kendo-grid-column field="diasCalendarios"
                                                                   title="D&iacute;as calendarios"
                                                                   [width]="140"></kendo-grid-column>
                                                <kendo-grid-column field="diasHabiles"
                                                                   title="D&iacute;as h&aacute;biles"
                                                                   [width]="120"></kendo-grid-column>
                                                <kendo-grid-column field="nombreJefeInmediato"
                                                                   title="Jefe inmediato"
                                                                   [width]="250"></kendo-grid-column>
                                            </kendo-grid>


                                        </fieldset>
                                    </template>
                                </kendo-tabstrip-tab>
                                <kendo-tabstrip-tab [title]="'Horas Extras'">
                                    <template kendoTabContent>
                                        <fieldset>
                                            <div [ngBusy]="{busy: busy, minDuration:1000}"></div>
                                            <kendo-grid
                                                    [data]="gridViewHorasExtras"
                                                    [pageSize]="pageSizeHorasExtras"
                                                    [skip]="skipHorasExtras"
                                                    [pageable]="true"
                                                    (pageChange)="pageChangeHorasExtras($event)"
                                            >
                                                <kendo-grid-column [width]="40">
                                                    <template kendoGridCellTemplate let-dataItem>
                                                        <div class="text-center">
                                                            <a href="javascript:void(0)" class="link"
                                                               (click)="onViewHorasExtras(dataItem)">
                                                                <span class="fa fa-eye"></span></a>
                                                        </div>
                                                    </template>
                                                </kendo-grid-column>
                                                <kendo-grid-column field="estado" title="Estado" [width]="70"></kendo-grid-column>
                                                <kendo-grid-column field="fecha" title="Fecha" [width]="70"></kendo-grid-column>
                                                <kendo-grid-column field="horaSalidaHorario" title="Hora Salida" [width]="70"></kendo-grid-column>
                                                <kendo-grid-column field="horaSalidaSolicitado" [width]="100">
                                                    <template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                                                        Hora Salida<br/>Solicitada
                                                    </template>
                                                </kendo-grid-column>
                                                <kendo-grid-column field="horasNoCompensables" [width]="100">
                                                    <template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                                                        Horas Semanales<br/>Pendientes
                                                    </template>
                                                </kendo-grid-column>
                                                <kendo-grid-column field="horas" title="Horas Extras" [width]="70"></kendo-grid-column>
                                                <kendo-grid-column field="nombreJefeInmediato" title="Jefe inmediato" [width]="160"></kendo-grid-column>
                                            </kendo-grid>


                                        </fieldset>
                                    </template>
                                </kendo-tabstrip-tab>
                            </kendo-tabstrip>
                        </div>
                    </fieldset>

                </div>
            </div>

            <!-- end row -->

        </div>

    </div>

</div>