<div id="content">
	<simple-notifications [options]="options" style="z-index: 5000" ></simple-notifications>
	<div class="row">

		<div class="page-header">
			<div class="btn-back" (click)="onRegresarContratoEmpleado()"><i class="ic-arrow-back"></i></div>
			<sa-big-breadcrumbs [items]="['Contrato del Empleado ']" icon="group"></sa-big-breadcrumbs>
		</div>


		<div class="col-lg-12">
			<div class="resume-panel">
				<div>
					<div class="resume-info">
						<div class="user-image">
							<i class="ic-person" id="iconPerson"></i>
							<img [src]="fotoEmpleado" style="display: none;" alt="Foto del Empleado" id="fotoEmpleado">
						</div>
						<div class="user-info">
							<div>
								<span>{{nombreCompletoEmpleado}}</span>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

			<div class="col-lg-12">

							<div class="well well-sm well-light">

								<div class="padding-10">

									<div>
										<fieldset>
											<legend>Datos</legend>

											<div class="smart-form">

												<div class="row">

													<section class="col col-md-4">
														<label>Fecha Inicio<span style="color: red">*</span></label>
														<label [class]="isPendiente?'input':'input state-disabled'">
															<i class="icon-append fa fa-calendar"></i>
															<input id="fechaInicio" type="text" placeholder="Seleccionar una Fecha" (change)="onChangeFechaInicio($event)" saUiDatepicker date-format="dd/MM/yy" [(ngModel)]="contrato.fechaInicio" readonly="readonly" [disabled]="!isPendiente"/>
														</label>

													</section>
													<section class="col col-md-4">
														<label>Fecha Fin<span style="color: red">*</span></label>
														<label [class]="isPendiente?'input':'input state-disabled'">
															<i class="icon-append fa fa-calendar"></i>
															<input id="fechaFin" type="text" placeholder="Seleccionar una Fecha" (change)="onChangeFechaFin($event)" saUiDatepicker date-format="dd/MM/yy" [(ngModel)]="contrato.fechaFin" readonly="readonly" [disabled]="!isPendiente"/>
														</label>

													</section>
													<section class="col col-md-4">
														<label>Duracion</label>
														<label class="input state-disabled">
															<input type="text" [(ngModel)]="contrato.duracion"  disabled="disabled"/>
														</label>

													</section>
												</div>

												<div class="row">


													<section class="col col-md-4">
														<label>Cargo<span style="color: red">*</span></label>
														<label [class]="isPendiente?'input':'input state-disabled'">
															<input id="cargo" type="text" [(ngModel)]="contrato.cargo" [disabled]="!isPendiente" (keyup)="ingresaCargo()"/>
														</label>
													</section>
													<section class="col col-md-4">
														<label>Moneda<span style="color: red">*</span></label>
														<label [class]="isPendiente?'input':'input state-disabled'">
															<kendo-dropdownlist
																	[data]="monedas"
																	[valueField]="'idMoneda'"
																	[textField]="'nombre'"
																	[defaultItem]="defaultItemMoneda"
																	[valuePrimitive] = "true"
																	[(ngModel)]="contrato.idMoneda"
																	style="width: 100%;"
																	[disabled]="!isPendiente"
															>
															</kendo-dropdownlist>
														</label>
													</section>
													<section class="col col-md-4">
														<label>Salario<span style="color: red">*</span></label>
														<label [class]="isPendiente?'input':'input state-disabled'">
															<input id="salario" [(ngModel)]="contrato.salario" [textMask]="{mask: currencyMask,guide:false}" type="text" [disabled]="!isPendiente" (keyup)="ingresaSalario()"/>
														</label>
													</section>

												</div>

												<div class="row">

													<section class="col col-md-8">
														<label>Direccion</label>
														<label class="input state-disabled">
															<input type="text" [(ngModel)]="contrato.direccion" disabled="disabled"/>
														</label>
													</section>

												</div>

												<div class="row">

													<section class="col col-md-4">
														<label>Tipo Documento</label>
														<label class="input state-disabled">
															<input type="text" [(ngModel)]="contrato.tipoDocumento" disabled="disabled"/>
														</label>
													</section>

													<section class="col col-md-4">
														<label>Numero de Documento</label>
														<label class="input state-disabled">
															<input type="text" [(ngModel)]="contrato.numeroDocumento" disabled="disabled"/>
														</label>
													</section>
													<section class="col col-md-4">
														<label>Tipo de Contrato</label>
														<label class="input state-disabled">
															<input type="text" [(ngModel)]="contrato.tipoContratoString" disabled="disabled"/>
														</label>
													</section>
												</div>

												<div class="row" *ngIf="isEdit">

													<section class="col col-md-4">
														<label>Estado</label>
														<label class="input state-disabled">
															<input type="text" [(ngModel)]="contrato.estadoString" disabled="disabled"/>
														</label>
													</section>

												</div>

											</div>


										</fieldset>

									</div>

								</div>



								<div class="padding-10">
									<div class="bottom-bar">
										<a *ngIf="isPendiente" (click)="onRegistrarContratoEmpleado()" class="btn btn-primary"> Guardar</a>
										<a *ngIf="isEdit" (click)="onDescargarContrato()"  class="btn btn-primary"> Generar Documento</a>
										<a *ngIf="isEdit && isPendiente" (click)="onAprobarContratoEmpleado()" class="btn btn-primary"> Firmado</a>
										<a *ngIf="isEdit && isPendiente" (click)="onEliminarContrato()" class="btn btn-primary"> Eliminar</a>
									</div>

								</div>

							</div>
			</div>
		</div>


</div>
